{% block stylesheets %}
    {{ encore_entry_link_tags('pages/login') }}
{% endblock %}
<div class="relative-container mt-4">
    {{ form_row(form.nickname,
        {
            'class': (formControlClass is defined ? formControlClass : '') ~ 'mt-3',
            'widgetAttr': {
                'v-model.trim': '$v.nickname.$model',
                'ref': 'nickname',
            } 
        }
    ) }}
</div>
