{% extends 'base.html.twig' %}

{% block title %}{{ formHeader }} | mintMe{% endblock %}

{% block content %}
    {% if backupCodes %}
        <div class="container text-center">
            <div class="row pt-4 justify-content-center">
                <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-header">
                            {% trans %}page.manager_2fa.header{% endtrans %}
                        </div>
                        <div class="card-body text-center">
                            <p>
                                <small>
                                    {% trans %}page.manager_2fa.body{% endtrans %}
                                </small>
                            </p>
                            <code class="html hljs text-white">
                                {% for backupCode in backupCodes %}
                                    <p>{{ backupCode }}</p>
                                {% endfor %}
                            </code>
                            <p><a href="{{ path('settings') }}" class="btn btn-primary" role="button">{% trans %}page.manager_2fa.back_settings{% endtrans %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'security/2fa_settings.html.twig' %}
    {% endif %}
{% endblock %}
