# This file is a template, and might need editing before it works on your project.
# see https://docs.gitlab.com/ce/ci/yaml/README.html for all available options

# *********************
# ATENTION: PLEASE, DON'T EDIT THIS FILE IF YOU ARE NOT AN ADMIN!!
# IF YOU HAVE ANY DOUBT, PLEASE CONTACT TO ANY SYSADMIN..
# *********************

stages:
  - update-repository
  - build-sites

update_repository_redmine_training.abchosting.org:
  stage: update-repository
  script:
    - cd /home/git/gitlab/coinimp-sandbox.git && sudo git fetch --all -p
  tags:
    # this job will be executed only on training.abchosting.org server
    - training.abchosting.org

build_mintme_sites:
  stage: build-sites
  before_script:
    - shopt -s expand_aliases
    - alias php='/usr/bin/php7.2'
    - alias npm='/usr/local/bin/npm'
  script:
    - SRC=$(pwd)
    - sudo build-sites-mintme-sandbox.sh -a build -b $CI_COMMIT_REF_NAME -s $SRC
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - node_modules/
      - vendor/
  tags:
    # This job only will be executed by this runner:
    - mintme.abchosting.org
  only:
    # this job only will be executed for branches
    - /^sb-.*$/

    