# This file is a template, and might need editing before it works on your project.
# see https://docs.gitlab.com/ce/ci/yaml/README.html for all available options

# *********************
# ATENTION: PLEASE, DON'T EDIT THIS FILE IF YOU ARE NOT AN ADMIN!!
# IF YOU HAVE ANY DOUBT, PLEASE CONTACT TO ANY SYSADMIN..
# *********************

stages:
  - update-repository
  - tests
  - build-sites
  - clean-unused-sites
  - auto-merge

update_repository_redmine_training.abchosting.org:
  script:
    - cd /home/git/gitlab/mintme-panel.git && sudo git fetch --all -p
  stage: update-repository
  tags:
    # this job will be executed only on training.abchosting.org server
    - training.abchosting.org

before_script:
  - export PATH=/usr/local/php74:$PATH
  - shopt -s expand_aliases
  - alias php='/usr/bin/php7.4'
  - alias npm='/usr/local/bin/npm'

tests_php:
  stage: tests
  script:
    - export $(grep -v '^#' .env.dist | xargs)
    - composer install
    - make phpunit
    - make syntax_check
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - node_modules/
      - vendor/
  tags:
    - mintme.abchosting.org

tests_assets:
  stage: tests
  script:
    - npm ci
    - make syntax_check_assets
    - make jest
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - node_modules/
      - vendor/
  tags:
    - mintme.abchosting.org

phpfunctional_tests:
  stage: tests
  script:
    - sudo start-tests.sh $CI_COMMIT_REF_NAME
  tags:
    # This job only will be executed by this runner:
    - mintme-docker.abchosting.org
  only:
    # this job only will be executed for branches
    - update-functional-tests
    - /^v\d{1,2}[.]\d{1,2}[.]\d{1,2}$/

build_mintme_sites:
  stage: build-sites
  script:
    - SRC=$(pwd)
    - sudo build-sites-mintme.sh -a build -b $CI_COMMIT_REF_NAME -s $SRC
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - node_modules/
      - vendor/
  tags:
    # This job only will be executed by this runner:
    - mintme.abchosting.org
  only:
    # this job only will be executed for branches
    - branches

clean_mintme_unused_sites:
  stage: clean-unused-sites
  script:
    - sudo /usr/local/bin/clean-unused-sites-mintme.py
  tags:
    # This job only will be executed by this runner:
    - mintme.abchosting.org
  only:
    # this job only will be executed for these branches:
    - /^v\d{1,2}[.]\d{1,2}[.]\d{1,2}$/
    - master
  allow_failure: true

auto_merge_release_branch:
  stage: auto-merge
  script:
    - sudo auto-merge-release-branch.py
  tags:
    # This job only will be executed by this runner:
    - mintme.abchosting.org
  only:
    # this job only will be executed for these branches:
    - /^v\d{1,2}[.]\d{1,2}[.]\d{1,2}$/
    - master
  allow_failure: true
