{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "declaration-block-no-duplicate-properties": true,
    "block-no-empty": true
  },
  "ignoreFiles": ["node_modules", "assets/scss/lang-menu.sass"]
}
