version: "2.2"
services:
  # APP
  panel:
    build: .
    depends_on:
      - db
      - rabbitmq
      - withdraw
      - deposit
      - deploytok
      - btc
    networks:
      - middleend
      - backward
    volumes:
      - .:/var/www/html/panel
      - .docker/panel.env:/var/www/html/panel/.env
      - .docker/parameters.yaml:/var/www/html/panel/config/parameters.yaml

  withdraw:
    build: .docker/withdraw
    depends_on:
      - db
      - rabbitmq
      - electrum
      - webchaind
    networks:
      - middleend
    volumes:
      - .docker/withdraw:/var/www/html/withdraw
      - .docker/withdraw.conf.yaml:/var/www/html/withdraw/config/config.yaml

  deposit:
    build: .docker/deposit
    ports:
      - 3000:3000
    depends_on:
      - db
      - webchaind
      - electrum
      - rabbitmq
      - webchain-cli
    volumes:
      - .docker/deposit:/src
      - .docker/deposit.conf.yaml:/src/config/default.yaml
      - .docker/deposit.env:/src/.env
    networks:
      - middleend

  deploytok:
    build: .docker/tokdeploy/contract-gateway
    ports:
      - 3001:3001
    depends_on:
      - db
      - webchaind
      - rabbitmq
      - webchain-cli
    volumes:
      - .docker/tokdeploy/contract-gateway:/src
      - .docker/tokdeploy.yaml:/src/config/default.yaml
      - .docker/tokdeploy.env:/src/.env
      - webchaind_root:/src/webchain_root
    networks:
      - middleend

  webchain-cli:
    image: lukaszmatczak/webchain-cli
    networks:
      - middleend
    ports:
      - 1920:1920
    volumes:
      # Replace next paths with actuals on your system
      - .docker/default/WEB:/data

  webchaind:
    build: .docker/webchaind
    cpus: 0.30
    ports:
      - 39573:39573 # debug
    networks:
      - middleend
    volumes:
      # Replace next paths with actuals on your system
      - .docker/default/WEB/password.txt:/data/password
      - .docker/default/WEB/account.json:/root/.webchain/morden/keystore/9139413fe7247da35ae0797f9270271ba758d248
      - webchaind_root:/root/.webchain/morden

  openethereum:
    image: parity/parity:v2.5.12-stable
    volumes:
      - .docker/default/ETH/:/root/eth/
    ports:
      - 8545:8545
      - 8080:8080
    command:
      --light
      --chain=ropsten
      --jsonrpc-interface=all
      --jsonrpc-cors=all
      --jsonrpc-apis=web3,eth,pubsub,net,parity,parity_pubsub,traces,rpc,secretstore,parity_accounts,personal
      --unlock=0xc26dcee6092beb24b42ebd789f82bb6f8d63387c
      --password /root/eth/pass
      --base-path /root/eth
    working_dir: /home/openethereum
    user: root
    mem_limit: 2gb
    cpuset: '0,3'
    networks:
      - middleend

  nginx:
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
      - 16614:16614
      - 8000:8000 # php-withdraw debug
      - 8008:8008
    depends_on:
      - panel
      - withdraw
      - btc
    networks:
      - middleend
      - backward
    volumes:
      - .docker/nginx:/etc/nginx/conf.d
      - .:/var/www/html/panel
      - .docker/withdraw:/var/www/html/withdraw
    command: [nginx-debug, '-g', 'daemon off;']

  db:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    networks:
      - middleend
      - backend
    volumes:
      - .docker/sql:/docker-entrypoint-initdb.d
      - .docker/my.cnf:/etc/mysql/my.cnf
      - mariadb-data:/var/lib/mysql

  rabbitmq:
    build: .docker/rabbitmq
    ports:
      - 15672:15672
      - 5672:5672
    networks:
      - middleend
    volumes:
      - .docker/rabbitmq-guest.conf:/etc/rabbitmq/rabbitmq.config

  electrum:
    build:
      context: https://github.com/22116/docker-electrum-daemon.git
      args:
        ELECTRUM_VERSION: 3.3.6
        ELECTRUM_USER: electrum
        ELECTRUM_PASSWORD: changeme
    environment:
      TESTNET: 1
    ports:
      - 7777:7777 # debug
    networks:
      - middleend
    volumes:
      # Replace the next path with actual on your system
      - .docker/default/BTC/wallet_btc_testnet:/data/default_wallet

  # VIABTC
  btc:
    privileged: true
    container_name: btc-service
    build: .docker/viabtc/btc/
    ports:
      - 127.0.0.1:17416:7416
      - 127.0.0.1:17316:7316
      - 127.0.0.1:17317:7317
      - 127.0.0.1:17424:7424
      - 127.0.0.1:14444:4444
      - 127.0.0.1:18080:8080
      - 127.0.0.1:18081:8081
      - 127.0.0.1:18091:8091
      - 127.0.0.1:18364:8364
    volumes:
      - .docker/viabtc/btc/btc/matchengine/config.json:/btc/matchengine/config.json
      - .docker/viabtc/btc/btc/accesshttp/config.json:/btc/accesshttp/config.json
      - .docker/viabtc/btc/btc/marketprice/config.json:/btc/marketprice/config.json
      - .docker/viabtc/btc/btc/accessws/config.json:/btc/accessws/config.json
      - .docker/viabtc/btc/btc/alertcenter/config.json:/btc/alertcenter/config.json
      - .docker/viabtc/btc/btc/readhistory/config.json:/btc/readhistory/config.json
    depends_on:
      - db
      - mq
      - redis_sentinel
      - redis_master
    networks:
      - backend
      - backward

  redis_master:
    container_name: btc-redis-master
    build: .docker/redis
    ports:
      - 16379:6379
    networks:
      - backend
    volumes:
      - .docker/redis.conf:/usr/local/etc/redis/redis.conf

  redis_sentinel:
    container_name: btc-redis-sentinel
    build: .docker/viabtc/redis
    image: redis-sentinel
    environment:
      - MASTER_NAME=mymaster
      - QUORUM=1
      - MASTER=redis_master
    depends_on:
      - redis_master
    networks:
      - backend
    ports:
      - 26379:26379

  zookeeper:
    container_name: btc-zookeeper
    image: wurstmeister/zookeeper
    ports:
      - 12181:2181
    networks:
      - backend

  mq:
    container_name: btc-kafka
    image: wurstmeister/kafka
    restart: on-failure
    ports:
      - 19092:9092
    environment:
      KAFKA_ADVERTISED_HOST_NAME: mq
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    # Remove on Windows
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - backend

volumes:
  webchaind_root:
  mariadb-data:

networks:
  backward:
    driver: bridge
  middleend:
    driver: bridge
  backend:
    driver: bridge
