includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    #- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:

    paths:
        - src
        - tests

    level: 7

    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcDevDebugProjectContainer.xml

    excludes_analyse:
        - "%rootDir%/../../../src/Migrations/*"
        - "%rootDir%/../../../src/Validator/Constraints/*"

    ignoreErrors:
#        - '#Method (.*) should return (.*)Repository but returns Doctrine\\Common\\Persistence\\ObjectRepository.#'