includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:

    paths:
        - src
        - tests

    level: 7

    tmpDir: "%rootDir%/../../../phpstan"

    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcDevDebugProjectContainer.xml

    excludes_analyse:
        - "%rootDir%/../../../src/Migrations/*"
        - "%rootDir%/../../../src/Validator/Constraints/*"

    autoload_files:
        - vendor/bin/.phpunit/phpunit-6.5/vendor/autoload.php

    ignoreErrors:
        - '#Cannot call method (.*) on (.*)\|null\.#'
        - '#Property (.+) \((.+)Repository\) does not accept Doctrine\\ORM\\EntityRepository(.+).#'
