includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:

    checkMissingIterableValueType: false

    checkGenericClassInNonGenericObjectType: false

    paths:
        - src
        - tests

    level: 7

    tmpDir: "%rootDir%/../../../phpstan"

    symfony:
        containerXmlPath: %rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: %rootDir%/../../../tests/object-manager.php

    excludePaths:
        - "%rootDir%/../../../src/Migrations/*"
        - "%rootDir%/../../../src/Validator/Constraints/*"
        - "%rootDir%/../../../src/Repository/TranslationRepository.php"
        - "%rootDir%/../../../tests/Command/UpdateDisposableEmailDomainsTest.php"
        - "%rootDir%/../../../tests/Command/Blacklist/SynchronizeTokenBlacklistTest.php"

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-8.5-0/vendor/autoload.php

    ignoreErrors:
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.#'
