{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row pt-4 justify-content-center notification">
            <div class="col-12">
                <div class="card card-fixed-small mx-auto">
                    <div class="card-header">
                        <div class="row">
                            {% trans %}email.sent{% endtrans %}
                        </div>
                    </div>
                    <div class="card-body py-2 text-center">
                        <p>
                            {% trans with {'%hours%': tokenLifetime} %}email.sent.body{% endtrans %}
                        </p>
                        <p class="pb-0 mb-0">
                            {% trans %}email.sent.help{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
