{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row pt-5 justify-content-center notification">
            <div class="col-12 col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            Email Sent!
                        </div>
                    </div>
                    <div class="card-body py-2 text-center">
                        <p>
                            If the email you typed matches yours, you will receive a message which contains a link you must click to reset your password.<br/>
                            Note: You can only request a new password once within {{ tokenLifetime }} hours.
                        </p>
                        <p>
                            If you don't get an email check your spam folder or try again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
