{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row pt-4 justify-content-center notification">
            <div class="col-12">
                <div class="card card-fixed-small mx-auto">
                    <div class="card-header">
                        <div class="row">
                            Email Sent!
                        </div>
                    </div>
                    <div class="card-body py-2 text-center">
                        <p>
                            If the email you provided is registered, you will receive an email with a password reset link.<br/>
                            Note: You can only request a new password one time per {{ tokenLifetime }} hour(s).
                        </p>
                        <p class="pb-0 mb-0">
                            If you don't get an email check your spam folder or try again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
