{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
    <div class="row py-3">
        <div class="col text-center text-white">
            <p>
                If the email you typed matches yours, you will receive a message which contains a link you must click to reset your password.<br/>
                Note: You can only request a new password once within {{ tokenLifetime }} hours.
            </p>
            <p>
                If you don't get an email check your spam folder or try again.
            </p>
        </div>
    </div>
</div>
{% endblock %}
