{% trans_default_domain 'FOSUserBundle' %}
{% extends 'form.html.twig' %}

{% set formHeader = "Change Password" %}
{% set featured = true %}

{% block formBody %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12 col-lg-2 text-left text-lg-right">
                        <label for="inputEmail" class="d-block label-featured">Email</label>
                    </div>
                    <div class="col">
                        {{ form_widget(form.username, { 'inline': true, 'attr': {'pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$', 'required': 'required', 'autofocus': 'autofocus'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12 col-lg-2 text-left text-lg-right"></div>
                    <div class="col">
                        {% if form_errors(form)|length > 0 %}
                            <div class="bg-danger text-white">{{ form_errors(form) }}</div>
                        {% endif %}
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row pt-4">
            <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-primary" value="Change password" />
            </div>
        </div>
    </form>
{% endblock %}
