{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="d-flex justify-content-center">
    <div class="card mx-5 w-25">

        <div class="card-title">Find Email by Nickname</div>

        <div class="card-body">
            <form action="{{path('younes_tests')}}" method="post">
                <div class="form-outline mb-4">
                    <label class="form-label" for="nickname">Nickname</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}
