{% extends 'base.html.twig' %}

{% block title %}Younes Tests{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
{% if user_email %}
    <h1>The Email of <b>{{nickname}}</b> is : <b>{{user_email}}</b></h1>
{% else %}
    <h1>Couldn't find the nickname: <b>{{nickname}}</b></h1>
{% endif %}

</div>

{% endblock %}
