{% extends 'base.html.twig' %}

{% block title %}404 - Page not found{% endblock %}

{% block bodyclass %}errorpage{% endblock %}

{% block messageClass %}d-none{% endblock %}

{% block content %}
    <div class="container top-4 h-100">
        <div class="row justify-content-center align-content-center text-center text-white h-100">
            <div class="col-12 py-5">
                <div class="error-code">404</div>
                <div class="error-text text-uppercase">Page not found</div>
                <p class="error-msg">
                    The requested page couldn't be located. Checkout for any URL misspelling or
                    <a href="{{ path('homepage') }}" class="backlink">return to the homepage</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}