{% extends 'base.html.twig' %}

{% block title %}{% trans %}page.error.503.title{% endtrans %} - {{ error_message | default('')}} {% endblock %}

{% block bodyclass %}errorpage{% endblock %}

{% block messageClass %}d-none{% endblock %}

{% block content %}
    <div class="container top-4 h-100">
        <div class="row justify-content-center align-content-center text-center text-white h-100">
            <div class="col-12 py-5">
                <div class="error-code">503</div>
                <div class="error-text text-uppercase">
                    {{ error_message | default('page.error.503.header') | trans }}
                </div>
                <p class="error-msg">
                    {% trans %}page.error.503.body{% endtrans %} {% trans %}or{% endtrans %}
                    <a href="{{ path('homepage') }}" class="backlink">{% trans %}return_homepage_2{% endtrans %}</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
