{% extends 'base.html.twig' %}

{% block content %}
    <div id="chat" class="container">
        <chat-widget
            class="pt-4"
            nickname="{{ app.user.profile.nickname }}"
            :threads="{{ threads | json_encode }}"
            :thread-id="{{ threadId }}"
        />
    </div>
<p style="display: none;">Hello World</p>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/chat.js') }}"></script>
{% endblock %}
