{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}edit_post{% endtrans %} | mintMe
{% endblock %}

{% block content %}
    <div id="edit_post" class="container">
    	<div class="row justify-content-center">
	        <edit-post edit
	            class="col-12 col-md-10 col-lg-8"
	            :post="{{ post | json_encode }}"
	        />
    	</div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/edit_post.js') }}"></script>
{% endblock %}
