{% extends 'base.html.twig' %}

{% block title %}Knowledge Base | mintMe{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ article.title }}</h1>
                <div>
                    {{ article.description }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
