{% extends 'base.html.twig' %}

{% block title %}Knowledge Base | mintMe{% endblock %}

{% block content %}
    <div id="kb" class="container">
        {% if knowledgeBases is empty %}
        <div class="h-100 pt-5">
            <div class="row">
                <div class="col-12 error-text py-5 text-center text-white text-uppercase error-big-text">
                    <h1>No articles found</h1>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                {% for category in knowledgeBases %}
                    <div class="pt-1">
                        <h2>{{ category[0].category.name }}</h2>
                        <ul class="list-group">
                            {% for kb in category %}
                                    <li class="list-group-item bg-primary">
                                        <span class="text-danger">
                                            <a href="{{ path('kb_show', {'url': kb.shortUrl}) }}" class="text-light">
                                                {{ kb.title}}
                                            </a>
                                        </span>
                                    </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
