{% extends 'base.html.twig' %}

{% block title %}Knowledge Base | mintMe{% endblock %}

{% block content %}
    <div id="kb_show" class="container bg-primary mt-5">
        <div class="row">
            <div class="col-12 pt-4">
                <a href="{{ path('kb') }}" role="button">&laquo;Back to Help</a>
                <h1 class="pt-3">{{ article.title }}</h1>
                <hr>
                <div class="py-5">
                    {{ article.description | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
