{% extends 'base.html.twig' %}

{% block title %}mintMe | Token{% endblock %}

{% block bodyclass %}errorpage{% endblock %}

{% block messageClass %}d-none{% endblock %}

{% block content %}
    <div class="container h-100 pt-5">
        <div class="row">
            <div class="col-12 error-text py-5 text-center text-white text-uppercase error-big-text">
                Pair not found
            </div>
        </div>
    </div>
{% endblock %}
