{% extends 'base.html.twig' %}

{% trans_default_domain 'pp' %}

{% block title %}{% trans %}page.privacy.title{% endtrans %} | mintMe{% endblock %}

{% block bodyclass %}document{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pt-4 justify-content-center">
            <div class="card-fixed-large text-dark card bg-white">
                <div class="p-4">
                    <div class="text-center">
                        <h2 class="page-title">{% trans %}page.privacy.title{% endtrans %}</h2>
                    </div>        
                    {% for translation in translations %}
                        {% if translation.keyTranslation matches '/_title/' %}
                            <div class="text-center">
                                <h2 class="page-title">{{ translation.content }}</h2>
                            </div>
                        {% else %}
                            <p>{{ translation.content|raw }}</p>
                        {% endif %}
                    {% endfor %}
                    <p>
                        {% trans %}page.privacy.address{% endtrans %}
                        <a class="link highlight" href="mailto:{{ global_contact_email }}" target="_blank">
                            {{ global_contact_email }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

