{% extends 'base.html.twig' %}

{% block title %}mintMe | Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col errors text-center">
                PROFILE<br/>
                DOES NOT<br/>
                EXIST
            </div>
        </div>
    </div>
{% endblock %}