{% extends 'base.html.twig' %}

{% block title %}MINTME | Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8  offset-md-2">
                <img src="{{ asset('build/images/profile-does-not-exist.png') }}" class="img-fluid" alt="Profile does not exist">
            </div>
        </div>
    </div>
{% endblock %}