{% extends 'base.html.twig' %}

{% block title %}mintMe | Profile{% endblock %}

{% block bodyclass %}profile-view{% endblock %}

{% block content %}
    <div class="container">
        <div class="row  pt-5 justify-content-center">
            <div class="col-12 col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        Plant your profile
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center pb-3">
                            <div class="col-12">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <div class="text-left pt-3">
                                    <input type="submit" class="btn btn-primary px-4" value="Save">
                                    <a href="{{ path('trading') }}" class="ml-3" >Cancel</a>
                                </div>
                                {{ form_end(form) }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
