{% extends 'base.html.twig' %}

{% block title %}mintMe | Profile{% endblock %}

{% block bodyclass %}errorpage{% endblock %}

{% block messageClass %}d-none{% endblock %}

{% block content %}
    <div class="container h-100 pt-5">
        <div class="row justify-content-center align-content-center text-center text-white h-100">
            <div class="col-10 error-text py-5 text-center text-white error-big-text">
                Profile does not exist
            </div>
        </div>
    </div>
{% endblock %}