{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block pagestyles %}
    <link rel="stylesheet" href="{{ asset('build/profile-view.css') }}">
{% endblock %}

{% block bodyclass %}profile-view{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-10 col-xl-6">
                <div class="card">
                    <div class="card-header">
                       Plant your profile
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
