{% extends 'base.html.twig' %}

{% block title %}{% trans %}page.quick_registration.title{% endtrans %} | mintMe{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pt-4 justify-content-center">
            <div class="col-12">
                <div class="card card-fixed-small mx-auto">
                    <div class="card-header">
                        {{ formHeader }}
                    </div>
                    <div class="card-body py-3">
                        {% block formBody %}
                            {{ form(form) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
