{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pages/user_home') }}
{% endblock %}

{% block title %}{% trans %}navbar.home{% endtrans %} | mintMe{% endblock %}

{% block content %}
<div id="user-home" class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row mt-3 justify-content-center">
                <div class="card h-100 posts-container col-12 col-md-10 col-lg-8">
                    <div class="card-header">
                        <slot name="title">{% trans %} page.pair.recent_posts {% endtrans %}</slot>
                    </div>
                    <div class="card-body posts overflow-hidden position-relative">
                        <recent-posts></recent-posts>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/user_home') }}
{% endblock %}
