{% extends 'base.html.twig' %}

{% trans_default_domain 'tos' %}

{% block title %}{% trans %}terms_of_service{% endtrans %} | mintMe{% endblock %}

{% block bodyclass %}document{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pt-4 justify-content-center text-white">
            <div class="card-fixed-large text-dark card bg-white">
                <div class="p-4">
                    <div class="text-center">
                        <h2 class="page-title">{% trans %}terms_of_service{% endtrans %}</h2>
                    </div>
                    {% for translation in translations %}
                        {% if translation.keyTranslation matches '/_title/' %}
                            <div class="text-center">
                                <h2 class="page-title">{{ translation.content }}</h2>
                            </div>
                        {% else %}
                            <div class="text-justify">
                                <p>{{ translation.content|raw }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
