{% extends 'base.html.twig' %}

{% block title %}mintMe | Terms of Service{% endblock %}

{% block bodyclass %}document{% endblock %}

{% block content %}
    <div id="wallet" class="container">
        <div class="row pt-5 justify-content-center text-white">
            <div class="col-md-8 text-white bg-primary p-4">
                <div class="text-center">
                    <h2 class="page-title">Terms of Service</h2>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        ATTENTION: Please read carefully these terms of service as they affect your obligations and legal rights including but not limited to waivers of right and limitation of liability. If you do not agree with these terms of service do not proceed with your registration on MintMe
                    </p>
                </div>
                <div class="text-justify">
                    <p>
                        This is a contract between You (“Your,” “User,” “Users”) and MintMe (the "Technology Platform", "Us", "We", or "Our"), a platform for Distributed Ledger Technology (DLT) generation and exchange; which means any trading and/or exchange facility, on which a DLT asset may be created and/or powered to then be transacted in accordance with the rules of Our platform; a digital marketplace where traders, creators and any User authorized by law can stake, buy and sell cryptocurrencies using digital assets supported by Us. Please note that crypto assets are not currently regulated by The International Financial Services Commission of Belize (IFSC). By signing up for an account on MintMe You agree that You are eligible as a website User because You have read, understood and fully accepted these Terms of Service. By registering You will be automatically added to Our mailing list and in case You wish to opt out, You will always find an unsubscribe link at the end of every email. 

                    </p>
                </div>
                <div class="py-5">
                    <h2 class="page-title text-center">GENERAL PROVISIONS</h2>
                </div>
                <div class="text-justify">
                    <p>
                        <strong>1. DEFINITIONS</strong>
                    </p>
                    <p> 
                        1.1. <strong>Communications</strong> shall mean all and any communication, agreement, document, receipt, notice and disclosure which may be from time to time addressed to the User by MintMe.
                    </p>
                    <p> 
                        1.2. <strong>Crypto assets</strong> shall mean such type of assets which can only and exclusively be transmitted by means of blockchain technology, including but not limited to, digital coins and digital tokens and any other type of digital mediums of exchange such as Webchain, Bitcoin, Ethereum, Ripple, etc, to the full and absolute exempt of the securities of any kind.
                    </p>
                    <p> 
                        1.3. <strong>Wallet:</strong> it is a software which can be used to view cryptocurrency balances and make transactions.  
                    </p>
                    <p> 
                        1.4. <strong>Deposit/Withdrawal</strong> of crypto assets shall mean remittance of crypto assets to/from MintMe Account from/to external third-party service accordingly.
                    </p>
                    <p> 
                        1.5. <strong>Feedback</strong> is any feedback, suggestion, idea or other information or material regarding MintMe or our Services that you provide, whether by email, posting through Us or otherwise.
                    </p>
                    <p> 
                        1.6. <strong>Force</strong> Majeure Event shall be understood as any event beyond MintMe's reasonable control, including but not limited to the flood, extraordinary weather conditions, earthquake, or other act of God, fire, war, insurrection, riot, labor dispute, accident, action of government, suspension of bank accounts of any kind, extraordinary leaps of the course of crypto asset, communications, network or power failure, or equipment or software malfunction or any other cause beyond MintMe's reasonable control.
                    </p>
                    <p> 
                        1.7. <strong>MintMe Account</strong> is the User account accessible after the registration process where the crypto assets wallet and the operating record are kept and shown by MintMe on behalf of the User.
                    </p>
                    <p> 
                        1.8. <strong>MintMe IP</strong> shall mean all and any copyright and other intellectual property rights in all content and other materials contained on our Technology Platform or provided in connection with the services, including, without limitation, the MintMe name, trademark, MintMe logo and all designs, text, graphics, pictures, information, data, software, technologies, know-hows, sound and video files, other files and the selection and arrangement thereof.
                    </p>
                    <p> 
                        1.9. <strong>Third-Party Content</strong> is the content provided by third parties, including without limitation links to web pages of such parties, which may be represented on the Platform.
                    </p>
                    <p> 
                        1.10. <strong>Third-Party Service</strong> is any platform or network in which crypto assets belong to you or where you are the beneficial owner of it and this platform is maintained by a third party outside of our services; including but not limited to third-party accounts.
                    </p>
                    <p> 
                        1.11. <strong>Trade</strong> shall be understood as an exchange of a crypto asset of one type, owned and/or generated by any MintMe Account User to the crypto asset of another type owned by the same or another MintMe account User, at the terms of service set forth by such exchange parties and which is executed solely and exclusively within our Platform with crypto assets deposited to those Users’ MintMe Accounts. In no case shall the Trade be deemed or construed to be a marginal trade.
                    </p>
                    <p> 
                        1.12. <strong>Transfer</strong>, for the purposes herein, shall mean a record of Deposit, Withdrawal and/or Trade transaction of crypto asset into, out from or at User’s MintMe Account, which is technically executed by MintMe in accordance with User’s Deposit/Withdrawal request or trade order. 
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>2. WARRANTIES, REPRESENTATIONS AND COVENANTS</strong>
                    </p>
                    <p> 
                        2.1. It is a precondition that our services are only provided to those who are permitted to enter in legally binding relationships. Therefore if there is any reason why you are not able to enter into legally binding relationships with Us, for whatever reason,do not use our Services.
                    </p>
                    <p> 
                        2.2. You further represent and warrant that you:
                    </p>
                    <p class="pl-4"> 
                        (a) are at least 18 years old or of other legal age according to your relevant jurisdiction;
                    </p>
                    <p class="pl-4"> 
                        (b) have not previously been suspended or removed from our Services; 
                    </p>
                    <p class="pl-4"> 
                        (c) have full power and authority to enter into this legal relationship and by doing so will not violate any other legal relationships; 
                    </p>
                    <p class="pl-4"> 
                        (d) use our Technology Platform with your own email and for your own benefit and do not act on behalf and/or to the interest of any other person; 
                    </p>
                    <p class="pl-4"> 
                        (e) guarantee that your crypto assets, which you transfer to MintMe are not sold, encumbered, not in contention, or under seizure, and that neither exist any rights of third parties to your crypto assets; 
                    </p>
                    <p class="pl-4"> 
                        (f) will not use our Services or will immediately cease using those if any applicable law in your country prohibits or will prohibit you at any time from doing so;
                    </p>
                    <p class="pl-4"> 
                        (g) will not use our Services or will immediately cease using those if you are a resident or become a resident at any time of the state or region (in accordance with such state or region definition of residency), where the crypto assets transactions you are going to execute are prohibited or require special approval, permit and/or authorization of any kind, which MintMe has not obtained in this state or region. 
                    </p>
                    <p> 
                        2.3. When accessing or using our Platform, You further represent, agree and warrant, that you will not violate any law, contract, intellectual property or other third-party right or commit a tort, and that you are solely responsible for your conduct while using MintMe.
                    </p>
                    <p> 
                        2.4 Without prejudice to the generality of the foregoing, you represent, agree and warrant that you will not:
                    </p>
                    <p class="pl-4"> 
                        (a) Use MintMe in any manner that could interfere with, disrupt, negatively affect or inhibit other users from using it  with full functionality or that could damage, disable, overburden or impair its functioning  in any manner;
                    </p>
                    <p class="pl-4"> 
                        (b) Use MintMe to pay for, support or otherwise engage in any illegal gambling activities; fraud; money-laundering;  terrorist activities; or any other illegal activities; 
                    </p>
                    <p class="pl-4"> 
                        (c) Use any robot, spider, crawler, scraper or other automated means or interface not provided by Us to access MintMe or to extract data; 
                    </p>
                    <p class="pl-4"> 
                        (d) Use or attempt to use another User account without authorization; 
                    </p>
                    <p class="pl-4"> 
                        (e) Attempt to circumvent any content filtering techniques we employ, or attempt to access any service or area of our Technology Platform that you are not authorized to access; 
                    </p>
                    <p class="pl-4"> 
                        (f) Develop any third-party applications that interact with our Technology Platform without our prior written consent;
                    </p>
                    <p class="pl-4"> 
                        (g) Provide false, inaccurate, or misleading information; 
                    </p>
                    <p class="pl-4"> 
                        (h) Encourage or induce any third party to engage in any of the activities prohibited under this Section. 
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>3. RISK DISCLOSURE</strong>
                    </p>
                    <p> 
                        3.1. Due to our internal policies we only provide the services to users with sufficient experience, knowledge and understanding of the work principles of our Technology Platform and those who fully understand the associated risks. You acknowledge and agree that you shall access and use MintMe at your own risk. The risk of loss in Trading crypto assets can be substantial. You should therefore carefully consider whether such Trading is appropriate for you in light of your circumstances and resources. You acknowledge and agree the possibility of the following:
                    </p>
                    <p class="pl-4"> 
                        (a) You may sustain a total loss of the crypto assets in your MintMe Account and in some cases you may incur losses beyond such crypto assets. 
                    </p>
                    <p class="pl-4"> 
                        (b) Under certain market conditions you may find it difficult or impossible to liquidate a position. This can occur for example when the market reaches a daily price fluctuation limit ("limit move") and there is insufficient liquidity in the market.
                    </p>
                    <p class="pl-4"> 
                        (c) Placing contingent orders such as "stop-loss" or "stop-limit" orders, will not necessarily limit your losses to the intended amounts, since market conditions may make it impossible to execute such orders. 
                    </p>
                    <p class="pl-4"> 
                        (d) All crypto assets positions involve risk, and a "spread" position may not be less risky than an outright "long" or "short" position. 
                    </p>
                    <p class="pl-4"> 
                        (e) The use of leverage can work against you as well as for you and can lead to large losses as well as gains. 
                    </p>
                    <p class="pl-4"> 
                        (f) All of the points noted above apply to all crypto assets. This brief statement cannot however disclose all the risks and other aspects associated with the trade of crypto assets and shall not be considered as any professional advice.
                    </p>
                    <p> 
                        3.2. Risks Associated with the Internet-based Trading System. You acknowledge that there are risks associated with utilizing an Internet-based trading system including but not limited to the failure of hardware, software, and Internet connections. You acknowledge that MintMe shall not be responsible for any communication failures, disruptions, errors, distortions or delays you may experience when using the Technology Platform howsoever caused.
                    </p>
                    <p> 
                        3.3. Risks Associated with the Blockchain Protocol. MintMe and its related services are based on the Blockchain Protocol. As such, any malfunction, unintended function, unexpected functioning of or attack on the Blockchain protocol, may cause our platform to malfunction or function in an unexpected or unintended manner.
                    </p>
                    <p> 
                        3.4. Risks Associated with Blockchains and Crypto Assets. You acknowledge and accept that MintMe has no control over any cryptocurrency network and you understand all risks associated with utilizing any crypto assets network including but not limited to the risk of unknown vulnerabilities in or unanticipated changes to any network protocol. We will not be responsible for any harm occurring as a result of such risks. 
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>4. CRYPTO ASSETS PROTECTION</strong>
                    </p>
                    <p> 
                        4.1. We strive to protect your crypto assets from unauthorized access, use, or spending. We use a variety of physical and technical measures designed to protect our systems and your crypto assets. By remitting your crypto assets to MintMe Account you entrust and entitle Us to ultimately take decisions on the safety and security of your crypto assets. 
                    </p>
                    <p> 
                        4.2. We reserve the right to take different measures of protection, which include but are not limited to a diversification of crypto assets in different allocations whether on a segregate record (account) or not.
                    </p>
                    <p> 
                        4.2. We reserve the right to take different measures of protection, which include but are not limited to a diversification of crypto assets in different allocations whether on a segregate record (account) or not.
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>5. ELECTRONIC NOTICES</strong>
                    </p>
                    <p> 
                        5.1. Consent to Electronic Delivery. You agree and consent to receive electronically all Communications that MintMe may be willing to communicate to you in connection with your MintMe Account and/or use of the MintMe Services. You agree that MintMe may provide these Communications to you by posting them on the Platform.
                    </p>
                    <p> 
                        5.2. It is your responsibility to keep your email address on file with MintMe up to date so that MintMe can communicate with you electronically. You understand and agree that if MintMe sends you an electronic Communication but you do not receive it because your email address on file is incorrect, out of date, blocked by your service provider, or you are otherwise unable to receive electronic Communications, MintMe will be deemed to have provided the Communication to you. You waive your right to plead ignorance. Please note that if you use a spam filter that blocks or re-routes emails from senders not listed in your email address book, you must add MintMe to your email address book so that you will be able to receive the Communications We send you. You can update your email address at any time by logging into your MintMe Account. If your email address becomes invalid in a such way that electronic Communications sent to you by MintMe are returned, MintMe may deem your account being inactive, and you may be not able to complete any transaction via the Technology Platform until We receive a valid, working email address from you.
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>6. SPECIAL CONDITIONS</strong>
                    </p>
                    <p> 
                        6.1. Conditions and Restrictions. We may at any time and in our sole discretion refuse to perform any Transfer requested via MintMe, impose limits on the Transfer amount permitted or impose any other conditions or restrictions upon your use of the Technology Platform without prior notice.
                    </p>
                    <p> 
                        6.2. Access to the Services. We may, in our sole discretion and without liability to you, with or without prior notice and at any time, modify or discontinue, temporarily or permanently, any portion of our Services.
                    </p>
                    <p> 
                        6.3. Cancellations. You may only cancel a Transfer request initiated via MintMe if such cancellation occurs before MintMe executes the Transfer. Once your Transfer request has been executed, you may not change, withdraw or cancel your authorization for MintMe to complete such Transfer. If a Trade order has been partially filled, you may cancel the unfilled remainder unless the order relates to a market rate Trade. We reserve the right to refuse any cancellation request associated with a market rate Trade order once you have submitted such order. While We may at our sole discretion reverse a Trade under certain extraordinary conditions, a customer does not have a right to do a reversal of a Trade.
                    </p>
                    <p> 
                        6.4. Insufficient Crypto Assets. If you have an insufficient amount of crypto assets in your MintMe Account to complete a Transfer via the Technology Platform, We may cancel the entire order or may fulfill a partial order using the amount of crypto assets currently available in your MintMe Account, less any fees owed to MintMe in connection with our execution of the Transfers.
                    </p>
                    <p> 
                        6.5. Taxes. It is your responsibility to determine what, if any, taxes apply to the Transfers you complete via MintMe, and it is your responsibility to report and remit the correct tax to the appropriate tax authority. You agree that MintMe is not responsible for determining whether taxes apply to your transfers or for collecting, reporting, withholding or remitting any taxes arising from any Trades and Transfers and does not act as your tax agent.
                    </p>
                    <p> 
                        6.6. Feedbacks. We own exclusive rights, including all intellectual property rights, to Feedback. Any Feedback you submit is non-confidential and shall become the sole property of MintMe. We will be entitled to the unrestricted use and dissemination of such Feedback for any purpose, commercial or otherwise, without acknowledgment or compensation to you. You waive any rights you may have to the Feedback (including inter alia any copyrights). Do not provide Feedback if you expect to be paid or want to continue to own or claim rights on it; your idea might be great, but We may have already had the same or a similar idea and We do not want disputes. We also have the right to disclose your identity to any third party who is claiming that any content posted by you constitutes a violation of their intellectual property rights or of their right to privacy. We have the right to remove any posting you make on our Platform if in our opinion your post does not comply with the content standards set out therein.
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>7. SUSPENSION AND TERMINATION OF YOUR MINTME ACCOUNT</strong>
                    </p>
                    <p> 
                        7.1. In case of your breach of the Terms, or any other event as we may deem necessary, including without limitation market disruption and/or Force Majeure event, we may, in our sole discretion and without liability to you, with or without prior notice: 
                    </p>
                    <p class="pl-4"> 
                        (a) suspend your access to all or a portion of our Services; or 
                    </p>
                    <p class="pl-4"> 
                        (b) prevent you from completing any actions via the Platform, including closing any open Trade orders. 
                    </p>
                    <p class="pl-4"> 
                        (c) In case the transferring resumes, you acknowledge that prevailing market rates may differ significantly from the rates available prior to such event; or 
                    </p>
                    <p class="pl-4"> 
                        (d) terminate your access to the Services, delete or deactivate your MintMe Account and all related information and files in such account. 
                    </p>
                    <p> 
                        7.2. In the event of termination, MintMe will return any crypto assets stored in your MintMe Account and not owed to MintMe, unless MintMe believes you have committed fraud, negligence or other misconduct. 
                    </p>
                    <p> 
                        7.3 We also may at any time suspend or terminate your use of our service without notice if: 
                    </p>
                    <p class="pl-4"> 
                        (a) we are required to take such action under any applicable law, regulation or an order issued by an authority;
                    </p>
                    <p class="pl-4"> 
                        (b) you breach any condition of these Terms of Service; 
                    </p>
                    <p class="pl-4"> 
                        (c) you violate or we have reason to believe that you are in violation of any law or regulation that is applicable to your use of MintMe;
                    </p>
                    <p class="pl-4"> 
                        (d) we have any reason to believe that you are in any way involved in any fraudulent activity, money laundering, terrorism financing or other criminal activity; or 
                    </p>
                    <p class="pl-4"> 
                        (e) it is reasonably necessary for us to do so to prevent you or us contravening any applicable law or regulatory requirement. 
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>8. DISCLAIMER OF WARRANTIES. LIMITATION OF LIABILITIES</strong>
                    </p>
                    <p> 
                        8.1. Except as expressly provided to the contrary in a writing by Us, our services are provided on an "As is" and "As available" basis. We expressly disclaim and you waive all warranties of any kind, whether express or implied including, without limitation, implied warranties of merchantability, fitness for a particular purpose, title and non-infringement as to our services, including the information, content and materials contained therein. 
                    </p>
                    <p> 
                        8.2. You acknowledge that the crypto assets  you store or transfer through our services may become irretrievably lost or corrupted or temporarily unavailable due to a variety of causes, including but not limited to software failures, protocol changes by third party providers, internet outages, Force Majeure event or other disasters including third party DDoS attacks, scheduled or unscheduled maintenance, or other causes either within or outside our control. You are solely responsible for backing up and maintaining duplicate copies of any you store or transfer through our services. 
                    </p>
                    <p> 
                        8.3. Except as otherwise required by law, in no event shall MintMe, our directors, officers, members, employees or agents be liable for any direct, indirect, consequential or special damages, or any other damages of any kind, including, but not limited to, loss of use, loss of profits or loss of data, whether in an action in contract, tort (including but not limited to negligence) or otherwise, arising out of or in any way connected with the use of or inability to use our services or the MintMe IP, including without limitation any damages caused by or resulting from reliance by any user on any information obtained from Us, or that result from mistakes, omissions, interruptions, deletion of files or email, errors, defects, viruses, delays in operation or transmission or any failure of performance, whether or not resulting from a force majeure event, communications failure, theft, destruction or unauthorized access to our records, programs or services. 
                    </p>
                    <p> 
                        8.4. We resume the right, in our sole discretion, to control any action or proceeding (at our expense) to which We are a participant and determine whether We wish to settle it.
                    </p>
                    <p> 
                        8.5. To the maximum extent permitted by applicable law, in no event shall the aggregate liability of MintMe (including our directors, officers, members, employees and agents), whether in contract, warranty, tort (including negligence, whether active, passive or imputed), product liability, strict liability or other theory, arising out of or relating to the use of, or inability to use, MintMe or to these terms exceed the fees paid by you to MintMe within 3 months immediately preceding the date of any claim giving rise to such liability.
                    </p>
                    <p> 
                        8.6. Crypto assets holdings are not covered by any deposit guarantee scheme. As crypto assets payments are not reversible, You are responsible for the protection and security of your MintMe account. The price of crypto assets can change rapidly and the risk of loss in trading or holding crypto assets can be substantial. You should therefore carefully consider whether trading or holding crypto assets is suitable for you in light of your financial condition, experience and risk tolerance level.
                    </p>
                    <p> 
                        8.7. We strive to protect our users from fraudulent and scam activities in crypto assets sphere. It is possible that some crypto assets are purposed for unlawful seizure of the property, or are construed as a fraud, scam or any other activity, recognized by the laws as illegal and/or non-compliant with legal requirements. We reserve the right to prohibit and discontinue any transactions on our platform with such crypto asset at our sole discretion, without any prior notice to you and without publication of the reason for such decision, whenever this comes to our knowledge.
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>9. NO OFFER OF SECURITIES</strong>
                    </p>
                    <p> 
                        9.1. MintMe endeavors all possible measures to be sure that crypto assets that are available via our Platform cannot be classified as "security" by United States SEC and/or other competent authorities. Moreover, MintMe represents that it never intended or desired to make tokens and/or coins that can be classified as "security" available via our Technology Platform.
                    </p>
                    <p> 
                        9.2. The responsibility for the fact that the instrument cannot be treated as “security” lies with the owner of token and/or coin. If there is any risk or speculations that token and/or coin can be treated as “security”, MintMe reserves the right to prohibit and discontinue any transactions on our Technology Platform with such tokens and/or coins at its sole discretion.
                    </p>
                    <p> 
                        9.3. We follow the best practices to decide whether crypto asset is security or not. However, We give no warranty and/or investment, financial, legal or any other professional advice, that any crypto asset available via our Technology Platform is not a security.
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>10. APPLICABLE LAW; ARBITRATION</strong>
                    </p>
                    <p> 
                        10.1. You and MintMe agree to arbitrate any dispute arising from these Terms or your use of the Services, except for disputes in which either party seeks equitable and other relief for the alleged unlawful use of copyrights, trademarks, trade names, logos, trade secrets or patents. 
                    </p>
                    <p> 
                        10.2. You and MintMe agree to notify each other in writing of any dispute within thirty (30) working days of when it arises. Notice to MintMe shall be sent to  <a href="support@mintme.com" target="_blank">support@mintme.com</a>.
                    </p>
                    <p> 
                        10.3. Any dispute, controversy, difference or claim arising out of or relating to the Terms, including the existence, validity, interpretation, performance, breach or termination thereof or any dispute regarding non-contractual obligations arising out of or relating to it shall be referred to and finally resolved by arbitration administered by the Arbitration Act of Belize. 
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>11. MISCELLANEOUS</strong>
                    </p>
                    <p> 
                        11.1. Entire Agreement. These Terms contain the entire agreement and supersede all prior and contemporaneous understandings between the parties regarding the Services.  
                    </p>
                    <p> 
                        11.2. Order of Precedence. In the event of any conflict between these Terms and any other agreement you may have with MintMe, the terms of that other agreement will prevail only if these Terms are specifically identified and declared to be overridden by such other agreement.  
                    </p>
                    <p> 
                        11.3. Amendments. We reserve the right to make changes or modifications to these Terms from time to time, in our sole discretion. If We make changes to these Terms, we will provide you with notice of such changes, such as by sending an e-mail, providing notice on the homepage of the Site and/or by posting the amended Terms via the applicable MintMe websites and mobile applications and updating the "Last Updated" date at the top of these Terms. The amended Terms will be deemed effective immediately upon posting for any new users of the Services. In all other cases, the amended Terms will become effective for pre-existing users upon the earlier of either:  
                    </p>
                    <p class="pl-4"> 
                        (a) the date User click or press a button to accept such changes or; 
                    </p>
                    <p class="pl-4"> 
                        (b) the date User continues use of our Services after MintMe provides notice of such changes or publishes new version of the Terms on the Website. 
                    </p>
                    <p> 
                        11.4. Any amended Terms will apply prospectively to use of the Services after such changes become effective. If you do not agree to any amended Terms, you must discontinue using our Services and contact us to terminate your account. 
                    </p>
                    <p> 
                        11.5. No Waiver. Our failure or delay in exercising any right, power or privilege under these Terms shall not operate as a waiver thereof.
                    </p>
                    <p> 
                        11.6. Severability. The invalidity or unenforceability of any of these Terms shall not affect the validity or enforceability of any other of these Terms, all of which shall remain in full force and effect.
                    </p>
                    <p> 
                        11.7. Assignment. You may not assign or transfer any of your rights or obligations under these Terms without prior written consent from MintMe, including by operation of law or in connection with any change of control. MintMe may assign or transfer any or all of its rights under these Terms, in whole or in part, without obtaining your consent or approval.
                    </p>
                    <p> 
                        11.8. Headings. Headings of sections are for convenience only and shall not be used to limit or construe such sections.
                    </p>
                    <p> 
                        11.9. Interpretations. Terms "Remittance", "Deposit", "Withdrawal", “Trade” and some others referred to herein are used in reference purposes to crypto assets solely and as defined ut supra shall not be deemed as construed for the use in regular financial use.
                    </p>
                    <p> 
                        11.10. Competitions. From time to time our business partners, contractors, clients, counterparties may hold different competitions, trials, games and any other type of events available to users through our Technology Platform. By agreeing to participate in such competitions, you shall comply with the rules of each particular competition and act according to them. Unless otherwise provided by the rules of particular competition, MintMe does not control and is not associated with any of such competition and shall have no responsibility for conducting and holding the competition. MintMe reserves the right to publish the rules of the competition received from the holder of the competition. You understand and acknowledge that your participation in such competition, and your interactions with holder, are at your own risk. 
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>12. REGISTRATION OF AN ACCOUNT WITH MINTME</strong>
                    </p>
                    <p> 
                        12.1. It is necessary to go through the registration process and create an account with MintMe to use our Technology Platform in a right order and with its full functionality.  
                    </p>
                    <p> 
                        12.2. MintMe reserves the right, in its sole discretion, to limit the number of MintMe Accounts that you may hold, maintain or create. MintMe Accounts cannot be assigned to any third party.  
                    </p>
                    <p> 
                        12.3. When you create a MintMe Account, you undertake to:  
                    </p>
                    <p class="pl-4"> 
                        (a) create a strong password that you do not use for any other websites, online or offline services; 
                    </p>
                    <p class="pl-4"> 
                        (b) provide accurate and truthful information. Please check our <a target="_blank" href="{{ path('privacy_policy') }}">Privacy policy</a> for the information on how We collect, use and share your personal information;  
                    </p>
                    <p class="pl-4"> 
                        (c) take responsibility for all activities that occur under your MintMe Account and accept all risks of any authorized or unauthorized access to your MintMe Account, to the maximum extent permitted by law.
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>13. DEPOSIT/WITHDRAWAL OF CRYPTO ASSETS TO MINTME ACCOUNT</strong>
                    </p>
                    <p> 
                        13.1. Our Technology Platform allows Users to remit crypto assets to MintMe Account from external third-party service and vice versa except to certain limitations, which may be updated from time to time.  
                    </p>
                    <p> 
                        13.2. Authorization to create an address. You understand and acknowledge, that an address for receiving crypto assets will be created automatically as soon as you request the Deposit transfer and before any crypto asset can be remitted to Your MintMe Account and you fully and irrevocably authorize its creation.  
                    </p>
                    <p> 
                        13.3. Ownership verification. In case you are required to verify, that you possess crypto asset of the third-party service that you use to remit crypto asset to your MintMe Account, you undertake to provide such verification by following MintMe instructions. 
                    </p>
                    <p> 
                        13.4. Deposit/Withdrawal Authorization. When you request Us to Deposit/Withdraw crypto assets into or out from your MintMe Account, you authorize MintMe to execute such Transfer via our Technology Platform 
                    </p>
                    <p> 
                        13.5. No control over third-party services. You may be charged fees by the third-party service you use to remit your MintMe Account. MintMe is not responsible for any third-party services' fees. You are solely responsible for your use of the third-party service, and you agree to comply with all terms of service applicable to any third-party service.
                    </p>
                    <p> 
                        13.6. Rejected or Suspended Deposit/Withdrawal Transfers. In some cases, the third-party service may reject your crypto assets to be processed, suspend the Deposit/Withdrawal Transfer of your crypto assets, or be not able to support the Transfer, or may otherwise be unavailable.
                    </p>
                    <p> 
                        13.7. Delays. Subject to these terms of service, We will use commercially reasonable efforts to record all Transfers on a spot basis as soon as practicable. However the timing associated with Deposit/Withdrawal of crypto assets depends inter alia upon the performance of third-parties services, and We make no guarantee that crypto assets will be Deposited/Withdrawn in any specific time/frame. you hereby understand and acknowledge, that any delays are possible and you indemnify and hold hit solution limited harmless against any claims, demands and damages, whether direct, indirect, consequential or special, or any other damages of any kind, including but not limited to loss of use, loss of profits or loss of data, whether in an action in contract, tort (including but not limited to negligence) or otherwise, arising out of or in any way connected with the transfer delay, whether originated from our fault or not.
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>14. CRYPTO ASSETS TRADE</strong>
                    </p>
                    <p> 
                        14.1. Please note, that we do not provide You with financing and thus do not perform and support margin trading. The Trade takes place between Users.
                    </p>
                    <p> 
                        14.2. When you submit a new Trade order via our Technology Platform, you authorize MintMe to:
                    </p>
                    <p class="pl-4"> 
                        (a) record a transfer of your crypto assets from/into/on your MintMe Account and/or,
                    </p>
                    <p class="pl-4"> 
                        (b) where applicable, reserve your crypto assets on your MintMe Account in accordance with such Trade order 
                    </p>
                    <p class="pl-4"> 
                        (c) and charge you any applicable fees for such record (as described in the Terms). 
                    </p>
                    <p> 
                        14.3. You acknowledge and agree that, respective to your trading activity, Our Technology Platform:  
                    </p>
                    <p class="pl-4"> 
                        (a) is not acting as your broker, intermediary, agent, or advisor or in any fiduciary capacity;
                    </p>
                    <p class="pl-4"> 
                        (b) is not acting as a party of transferring of a particular crypto asset.  
                    </p>
                    <p> 
                        14.4. Trade rates. Each placed Trade order creates different market exchange rates. You acknowledge and agree that the rates information made available via MintMe may differ from prevailing rates made available via other sources outside of the Technology Platform.
                    </p>
                    <p> 
                        14.5. Market volatility. Particularly during periods of high volume, illiquidity, fast movement or volatility in the marketplace for any crypto assets, the actual market rate at which a market Trade transaction is executed may be different from the prevailing rate indicated via MintMe at the time of your Trade transaction. You understand that we are not liable for any such rates fluctuations.
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>15. MintMe’s FEES</strong>
                    </p>
                    <p> 
                        15.1. Amount of Fees. You agree to pay the fees for Transfers completed via MintMe ("Fees") as defined by Us which may change from time to time. Changes to the Fees are effective as of the effective date indicated in the posting of the revised Fees and will apply prospectively to any transaction that takes place following the effective date of such revised Fees.
                    </p>
                    <p> 
                        15.2. Payment of Fees. You authorize Us or our designated payment processor to charge or deduct your MintMe Account crypto assets for any applicable Fees owed in connection with trades you complete via our Platform.
                    </p>
                </div>
                <div class="pt-3 text-justify">
                    <p>
                        <strong>16. THIRD-PARTY CONTENT</strong>
                    </p>
                    <p> 
                        While using our Technology Platform you may view Third-Party Content. We do not control, endorse or adopt (unless otherwise expressly stated by Us) any Third-Party Content and shall have no responsibility for Third-Party Content, including without limitation material that may be misleading, incomplete, erroneous, offensive, indecent or otherwise objectionable. In addition, your business dealings or correspondence with such third parties are solely between you and the third parties. We are not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings, and you understand that your use of Third-Party Content, and your interactions with third parties, is at your own risk.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}