{% extends 'base.html.twig' %}

{% block title %}{% trans %}terms_of_service{% endtrans %} | mintMe{% endblock %}

{% block bodyclass %}document{% endblock %}

{% block content %}
    <div id="wallet" class="container">
        <div class="row pt-4 justify-content-center text-white">
            <div class="card-fixed-large text-white">
                <div class="bg-primary p-4">
                    <div class="text-center">
                        <h2 class="page-title">{% trans %}terms_of_service{% endtrans %}</h2>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            {% trans %}page.terms.content.0{% endtrans %}
                        </p>
                    </div>
                    <div class="text-justify">
                        <p>
                            {% trans %}page.terms.content.0.1{% endtrans %}
                        </p>
                    </div>
                    <div class="py-5">
                        <h2 class="page-title text-center">{% trans %}page.terms.content.0.2{% endtrans %}</h2>
                    </div>
                    <div class="text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.1{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.3{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.4{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.5{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.6{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.7{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.8{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.9{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.10{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.11{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.1.12{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.2.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.2.2{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.2a{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.2b{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.2c{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.2d{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.2e{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.2f{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.2g{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.2.3{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.2.4{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.4a{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.4b{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.4c{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.4d{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.4e{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.4f{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.4g{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.2.4h{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.3{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.3.1{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.3.1a{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.3.1b{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.3.1c{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.3.1d{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.3.1e{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.3.1f{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.3.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.3.3{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.3.4{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.4{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.4.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.4.2{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.5{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.5.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.5.2{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.6{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.6.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.6.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.6.3{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.6.4{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.6.5{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.6.6{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.7{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.7.1{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.7.1a{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.7.1b{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.7.1c{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.7.1d{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.7.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.7.3{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.7.3a{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.7.3b{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.7.3c{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.7.3d{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.7.3e{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.8{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.8.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.8.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.8.3{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.8.4{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.8.5{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.8.6{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.8.7{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.9{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.9.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.9.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.9.3{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.10{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.10.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.10.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.10.3{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.11{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.3{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.11.3a{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.11.3b{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.4{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.5{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.6{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.7{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.8{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.9{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.11.10{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.12{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.12.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.12.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.12.3{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.12.3a{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans with {'%privacy_policy%': path('privacy_policy'), '%aml_policy%': path('aml_policy')} %}page.terms.content.12.3b{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.12.3c{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.13{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.13.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.13.2{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.13.3{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.13.4{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.13.5{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.13.6{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.13.7{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.14{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.14.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.14.2{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.14.2a{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.14.2b{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.14.2c{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.14.3{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.14.3a{% endtrans %}
                        </p>
                        <p class="pl-4">
                            {% trans %}page.terms.content.14.3b{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.14.4{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.14.5{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.14.6{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.15{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.15.1{% endtrans %}
                        </p>
                        <p>
                            {% trans %}page.terms.content.15.2{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.16{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.16.1{% endtrans %}
                        </p>
                    </div>
                    <div class="pt-3 text-justify">
                        <p>
                            <strong>{% trans %}page.terms.content.17{% endtrans %}</strong>
                        </p>
                        <p>
                            {% trans %}page.terms.content.17.1{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
