{% extends 'base.html.twig' %}

{% block title %}MINTME | Token{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col errors text-center">
                TOKEN<br/>
                DOES NOT<br/>
                EXIST
            </div>
        </div>
    </div>
{% endblock %}