{% extends 'base.html.twig' %}

{% block title %}MINTME | Token{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8  offset-md-2 text-center">
                <img src="{{ asset('build/images/token-does-not-exist.png') }}" class="img-fluid" alt="MINTME">
            </div>
        </div>
    </div>
{% endblock %}