{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('build/images/token-not-exist.png') }}" class="img-fluid mx-auto d-block w-70">
            </div>
        </div>
    </div>
{%  endblock %}