{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block messageClass %}d-none{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row pt-5 justify-content-center notification">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            Activate your account!
                        </div>
                    </div>
                    <div class="card-body py-5 text-center">
                        <p>An email has been sent to</p>
                        <h1 class="title">{{ user.username }}</h1>
                        <p>it contains an activation link you must click to activate your account</p>
                        <p>Do not forget to check your spam folder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
