{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block messagesClass %} alert-none {% endblock %}
{% block fos_user_content %}
    <div class="container ">
        <div class="row align-items-center d-flex justify-content-center">
            <div class="col-xs-12 notification">
                <div class="bell"></div>
                <div class="cloud  mx-auto text-center">
                    <div>
                        <span>An email has been sent to</span><br/>
                        <span class="font-weight title">{{ user.username }}</span><br/>
                        <span>it contains an activation link </span><br/>
                        <span>you must click to activate your account</span>
                        <span>Do not forget to check your spam folder</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
