{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block messageClass %}d-none{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row pt-4 justify-content-center notification">
            <div class="col-12">
                <div class="card card-fixed-small mx-auto">
                    <div class="card-header">
                        {% trans %}register.email_sent.header{% endtrans %}
                    </div>
                    <div class="card-body py-2 text-center">
                        <p>{% trans %}register.email_sent.body{% endtrans %}</p>
                        <h1 class="title">{{ user.username }}</h1>
                        <p class="pb-0 mb-0">{% trans %}register.email_sent.help{% endtrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
