{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block messagesClass %} alert-none {% endblock %}
{% block contentClass %}signup-confirmed py-4{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row align-items-center d-flex justify-content-center">
            <div class="col-xs-12 notification">
                <div class="bell"></div>
                <div class="cloud  mx-auto text-center">
                    <div>
                        <span class="font-weight title">Congrats {{ user.username }}</span><br/>
                        <span>your account is now activated</span><br/>
                        <p class="mt-1">
                            {% if targetUrl is empty %}
                                <a href="{{ path('referral') }}">Go to Referral Program</a>
                            {% else %}
                                <a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
