{% trans_default_domain 'FOSUserBundle' %}

{% set formHeader = "page.register.title"|trans %}
{% set featured = true %}
{% block stylesheets %}
    {{ encore_entry_link_tags('pages/register') }}
{% endblock %}
{% block formBody %}
    <div class="container px-5">
        <div class="row py-5 justify-content-center">
            <div class="col-md-5 col-lg-4 left-container p-4 pb-5">
                <div class="mt-3 mb-5 ml-3 text-dark h3">
                    {{ formHeader }}
                    <hr class="h-divider mt-2" />
                </div>
                {{ include("@FOSUser/Registration/register_content_body.html.twig") }}
            </div>
            <div class="col-md-7 col-lg-8 right-container">
                <div class="pt-4">
                    <h1 class="text-white mx-5 font-weight-bold mt-2 display-5 welcome-title">
                        {% trans from 'FOSUserBundle' %} page.register.welcome {% endtrans %}
                        <img
                            class="mintme-logo-welcome"
                            src="{{ asset('build/images/logo.svg') }}"
                            alt="MintMe"
                        >
                    </h1>
                    <div class="container px-5">
                        <div class="ms-4 pt-5">
                            <h2 class="h3 fw-light">
                                {% trans from 'FOSUserBundle' %} page.register.join_us {% endtrans %}
                            </h2>
                            <ul class="list-unstyled">
                                <li class="h3 my-5 font-weight-light">
                                    <strong class="text-primary">
                                        <i class="fas fa-check-circle icon-size"></i>
                                        {% trans from 'FOSUserBundle' %} page.register.create_1 {% endtrans %}
                                    </strong>
                                    {% trans from 'FOSUserBundle' %} page.register.create_2 {% endtrans %}
                                </li>
                                <li class="h3 font-weight-light">
                                    <strong class="text-primary">
                                        <i class="fas fa-check-circle icon-size"></i>
                                        {% trans from 'FOSUserBundle' %} page.register.earn_1 {% endtrans %}
                                    </strong>
                                    {% trans from 'FOSUserBundle' %} page.register.earn_2 {% endtrans %}
                                </li>
                                <li class="h3 mt-5 font-weight-light">
                                    <strong class="text-primary">
                                        <i class="fas fa-check-circle icon-size"></i>
                                        {% trans from 'FOSUserBundle' %} page.register.grow_1 {% endtrans %}
                                    </strong>
                                    {% trans from 'FOSUserBundle' %} page.register.grow_2 {% endtrans %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
