<div class="col-12 mb-3">
    {% if is_granted('trading') %}
    <div class="card h-100">
        <div class="card-header">
            <ul class="nav quick-trade-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link active">{% trans %} buy {% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">{% trans %} sell {% endtrans %}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="{% if loggedIn == 'true'%}col-lg-8{% else %}col-lg-12{% endif %}">
                   <div class="d-sm-flex">
                      <div id="donation_currency" class="dropdown btn-group b-dropdown mr-2">
                         <button 
                             id="donation_currency__BV_toggle_"
                             aria-haspopup="true" aria-expanded="false"
                             type="button" class="btn dropdown-toggle btn-primary"
                         >
                            {% if isTokenPage %}
                                {% trans %} mintme {% endtrans %}
                            {% else %}
                                {{ market.base.symbol }}
                            {% endif %}
                         </button>
                      </div>
                      <div class="input-group flex-nowrap my-3 my-sm-0">
                         <div class="position-relative h-fit-content d-block flex-grow-1">
                            <input type="text" class="form-control price-converter-input__input" disabled />
                         </div>
                        {% if loggedIn is same as('true') %}
                             <div class="input-group-append">
                                 <button type="button" class="btn btn-primary all-button">
                                     {% trans %} quick_trade.button_all {% endtrans %}
                                  </button>
                             </div>
                        {% endif %}
                      </div>
                      <div>
                         <button disabled class="btn btn-primary btn-donate ml-sm-2">
                             <span class="text-muted">
                                 {% trans %} buy {% endtrans %}
                             </span>
                         </button>
                      </div>
                   </div>
                    <div class="mt-1">
                        <div class="m-0 mt-1">
                        {% trans %} quick_trade.receive {% endtrans %}
                            <span class="text-nowrap">
                                0 {{ market.quote.symbol | rebranding }}
                            </span>
                        </div>
                    </div>
                </div>
                {% if loggedIn == 'true' %}
                    <div id="show-balance" class="col-lg-4 col-xl-auto col-donation-balance mt-3 mt-lg-0">
                        <p class="m-0">
                            <span>{% trans %} quick_trade.balance {% endtrans%}</span>
                            <div class="icon-loading"></div>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="h1 text-center pt-5 mt-5">
        {% trans %} trade.page.disabled {% endtrans %}
    </div>
    {% endif %}
</div>
