<div class="container-fluid px-0">
    <div class="container-fluid px-0">
        <div class="row justify-content-center">
            <div class="width-100 col-9 col-sm-10 col-md-9 col-lg-7 col-xl-6 mt-3">
                <div class="card h-100">
                    <div class="h-100 donation">
                        <div class="donation-header text-left">
                            <span>Donations</span>
                        </div>
                        <div class="card-body donation-body">
                            <div class="h-100">
                                <div>
                                    <div>
                                        <p class="info">Donation is non-refundable</p>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-2">Currency</p>
                                            <div id="donation_currency" class="dropdown btn-group b-dropdown">
                                                <button type="button" class="btn dropdown-toggle btn-primary">
                                                    Select currency
                                                </button>
                                                <ul role="menu" tabindex="-1" class="dropdown-menu">
                                                    <li role="presentation">
                                                        <a value="WEB" role="menuitem" target="_self" href="#" class="dropdown-item">
                                                            MINTME
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a value="BTC" role="menuitem" target="_self" href="#" class="dropdown-item">
                                                            BTC
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
