<div class="container mb-4" v-if="false">
    <div class="d-flex justify-content-center">
        <div class="col-12 text-center">
            <h1 class="mt-5 font-weight-semibold">
                {% trans %} page.index.promo.trade.title {% endtrans %}
                <div class="d-inline-flex flex-wrap">
                    <span class="font-style-italic">
                        {% trans %} page.index.promo.trade.mintme {% endtrans %}
                    </span>
                    <span class="color-title-question">
                        {% trans %} page.index.promo.trade.mintme_question {% endtrans %}
                    </span>
                </div>
            </h1>
            <p class="mt-3 subtitle-text-color">
                {% trans %} page.index.promo.trade.subtitle {% endtrans %}
            </p>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col">
            <div class="col-12 text-center">
                <h1 class="mt-5 font-weight-semibold">
                    {% trans %} page.pair.recent_activities {% endtrans %}
                </h1>
            </div>
        </div>
        <div class="col">
            <div class="col-12 text-center">
                <h1 class="mt-5 font-weight-semibold">
                    {% trans %} page.pair.recent_feed {% endtrans %}
                </h1>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="icon-loading"></div>
    </div>
</div>
