<div>
    <ul role="tablist" class="nav nav-tabs" id="__BVID__15__BV_tab_controls_"><!---->
        <li role="presentation" class="nav-item">
            <a role="tab" aria-selected="true" aria-setsize="2" aria-posinset="1"
                                                    target="_self" href="#" class="nav-link active"
                                                    >Introduction</a>
        </li>
        <li role="presentation" class="nav-item">
            <a role="tab" aria-selected="false" aria-setsize="2" aria-posinset="2"
                                                    target="_self" href="#" class="nav-link"
                                                    id="__BVID__56___BV_tab_button__"
                                                    aria-controls="__BVID__56">Trade</a><
            /li>
        <li class="nav-item">
            <div class="nav-link pr-md-0">
                <div>
                    <div class="not-deployed-icon">
                        <div class="d-inline"><a data-tippy=""><img src="/build/images/mintmecoin_W.275fb646.png"
                                                                    alt="not-deployed" class="h-100"></a>
                            <div id="guide_17" class="d-none">
                                <div class="m-2"><h5 class="font-bold"></h5>
                                    <p class="overflow-wrap-break-word">
                                        This token does not exist on the blockchain. Tokens on a blockchain allow
                                        withdrawals to user wallet and are promoted on trading page. Token creator can
                                        activate it by clicking on edit icon on this page.
                                    </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item-token">
            <div class="nav-link-token">
                <div class="truncate-token">
                    <div><!----></div>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                         class="icon-edit c-pointer align-middle svg-inline--fa fa-edit fa-w-18"
                         style="transform-origin: 0.5625em 0.40625em;">
                        <g transform="translate(288 256)" class="">
                            <g transform="translate(0, -48)  scale(0.75, 0.75)  rotate(0 0 0)" class="">
                                <path fill="currentColor"
                                      d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"
                                      transform="translate(-288 -256)" class=""></path>
                            </g>
                        </g>
                    </svg>
                    <span>
        qwqw121212
    </span></div>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>
