{% if is_granted('trading') %}
<div class="container-fluid px-0">
    <div class="row">
        <div class="card col">
            <div class="card-body p-2">
                <div class="mx-2 d-flex flex-column flex-lg-row justify-content-between">
                    <div class="my-1 text-center text-lg-left">
                        <span>{% trans %}trade.chart.last_price.header{% endtrans %} </span>
                        <div class="d-inline">
                            <a data-tippy="">
                                <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="question"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512"
                                    slot="icon"
                                    class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                >
                                    <path
                                        fill="currentColor"
                                        d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                    ></path>
                                </svg>
                            </a>
                            <div id="guide_96" class="d-none">
                                <div class="m-2">
                                    <h5 class="font-bold">
                                        {% trans %}trade.chart.last_price.guide_header{% endtrans %}
                                    </h5>
                                    <p class="overflow-wrap-break-word">
                                        {% trans %}trade.chart.last_price.guide_body.spinner{% endtrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                        {% trans %}trade.chart.spinner.mintme{% endtrans %}
                    </div>
                    <div class="my-1 text-center">
                        <span>
                            {% trans %}trade.chart.change.header{% endtrans %}
                        </span>
                        <div class="d-inline">
                            <a data-tippy="">
                                <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="question"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512"
                                    slot="icon"
                                    class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                >
                                    <path
                                        fill="currentColor"
                                        d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                    ></path>
                                </svg>
                            </a>
                            <div id="guide_97" class="d-none">
                                <div class="m-2">
                                    <h5 class="font-bold">
                                        {% trans %}trade.chart.change.guide_header{% endtrans %}
                                    </h5>
                                    <p class="overflow-wrap-break-word">
                                        {% trans %}trade.chart.change.guide_body{% endtrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                        0%/0%
                    </div>
                    <div class="my-1 text-center">
                        <span>
                            {% trans %}trade.chart.volume_token.header{% endtrans %}
                        </span>
                        <div class="d-inline">
                            <a data-tippy="">
                                <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="question"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512"
                                    slot="icon"
                                    class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                >
                                    <path
                                        fill="currentColor"
                                        d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                    ></path>
                                </svg>
                            </a>
                            <div id="guide_98" class="d-none">
                                <div class="m-2">
                                    <h5 class="font-bold">
                                        {% trans %}trade.chart.volume_token.header{% endtrans %}
                                    </h5>
                                    <p class="overflow-wrap-break-word">
                                        {% trans %}trade.chart.volume_token.guide_body.spinner{% endtrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                        0/0 Tokens
                    </div>
                    <div class="my-1 text-center">
                        <span>
                            {% trans %}trade.chart.volume_token.header{% endtrans %}
                        </span>
                        <div class="d-inline">
                            <a data-tippy="">
                                <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="question"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512"
                                    slot="icon"
                                    class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                >
                                    <path
                                        fill="currentColor"
                                        d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                    ></path>
                                </svg>
                            </a>
                            <div id="guide_99" class="d-none">
                                <div class="m-2">
                                    <h5 class="font-bold">
                                        {% trans %}trade.chart.volume_token.header{% endtrans %}
                                    </h5>
                                    <p class="overflow-wrap-break-word">
                                        {% trans with {'%quoteSymbol%': 'MINTME'} %}trade.chart.volume_token.guide_body{% endtrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                        {% trans %}trade.chart.spinner.0_mintme{% endtrans %}
                    </div>
                    <div class="my-1 text-center">
                        <span>
                            {% trans %}trade.chart.buy_depth{% endtrans %}
                        </span>
                        <div class="d-inline">
                            <a data-tippy="">
                                <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="question"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512"
                                    slot="icon"
                                    class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                >
                                    <path
                                        fill="currentColor"
                                        d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                    ></path>
                                </svg>
                            </a>
                            <div id="guide_100" class="d-none">
                                <div class="m-2">
                                    <h5 class="font-bold">
                                        {% trans %}trade.chart.buy_depth_guide{% endtrans %}
                                    </h5>
                                    <p class="overflow-wrap-break-word">
                                        {% trans with {'%symbol%': 'MINTME'} %}trade.chart.buy_depth_guide_body{% endtrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                        0 {% trans %}mintme{% endtrans %}
                    </div>
                    {% if not isTokenPage or isTokenPage and token.isMintmeToken %}
                    <div class="my-1 text-center text-lg-right">
                        <span>
                            {% trans %}trade.chart.market_cap{% endtrans %}
                        </span>
                        <div class="d-inline">
                            <a data-tippy="">
                                <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="question"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512"
                                    slot="icon"
                                    class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                >
                                    <path
                                        fill="currentColor"
                                        d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                    ></path>
                                </svg>
                            </a>
                            <div id="guide_101" class="d-none">
                                <div class="m-2">
                                    <h5 class="font-bold">
                                        {% trans %}trade.chart.market_cap.body{% endtrans %}
                                    </h5>
                                    <p class="overflow-wrap-break-word">
                                        Market cap of newsupertestokenone based on 10 million tokens created.
                                        To make it simple to compare them between each other,
                                        we consider not yet released tokens as already created.
                                        Marketcap is not shown if 30d volume is lower than 100 000 MINTME.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                        0 {% trans %}mintme{% endtrans %}
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col">
                        <div class="m-2 ve-candle" style="width: auto; height: 400px; position: relative;">
                            <div
                                _echarts_instance_="ec_1594654296845"
                                style="width: auto; height: 400px; position: relative; -webkit-tap-highlight-color: transparent; user-select: none;"
                            >
                                <div style="position: relative; overflow: hidden; width: 1082px; height: 400px; padding: 0px; margin: 0px; border-width: 0px;">
                                    <canvas
                                        data-zr-dom-id="zr_0"
                                        width="1082"
                                        height="400"
                                        style="position: absolute; left: 0px; top: 0px; width: 1082px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"
                                    ></canvas>
                                </div>
                                <div></div>
                            </div>
                            <div class="v-charts-data-empty" style="display: none;">
                                暂无数据
                            </div>
                            <div class="v-charts-component-loading" style="display: none;">
                                <div class="loader">
                                    <div class="loading-spinner">
                                        <svg
                                            viewBox="25 25 50 50"
                                            class="circular"
                                        >
                                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row trade-orders">
        <div class="col-12 col-lg-6 pr-lg-2 mt-3">
            <div class="h-100">
                <div class="card h-100">
                    <div class="card-header text-left">
                        {% trans %}trade.buy_order.header{% endtrans %}
                        <span class="card-header-icon">
                            <div class="d-inline">
                                <a data-tippy="">
                                    <svg
                                        aria-hidden="true"
                                        focusable="false"
                                        data-prefix="fas"
                                        data-icon="question"
                                        role="img"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 384 512"
                                        slot="icon"
                                        class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                    >
                                        <path
                                            fill="currentColor"
                                            d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                        ></path>
                                    </svg>
                                </a>
                                <div id="guide_106" class="d-none">
                                    <div class="m-2">
                                        <h5 class="font-bold">
                                            {% trans %}trade.buy_order.guide_header{% endtrans %}
                                        </h5>
                                        <p class="overflow-wrap-break-word">
                                            {% trans with {'%baseSymbol%': 'MINTME'} %}trade.buy_order.guide_body{% endtrans %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="card-body">
                        {{ include('spinners/spinner.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 pl-lg-2 mt-3">
            <div class="h-100">
                <div class="card h-100">
                    <div class="card-header text-left">
                        {% trans %}trade.sell_order.header{% endtrans %}
                        <span class="card-header-icon">
                            <div class="d-inline">
                                <a data-tippy="">
                                    <svg
                                        aria-hidden="true"
                                        focusable="false"
                                        data-prefix="fas"
                                        data-icon="question"
                                        role="img"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 384 512"
                                        slot="icon"
                                        class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                    >
                                        <path
                                            fill="currentColor"
                                            d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                        ></path>
                                    </svg>
                                </a>
                                <div id="guide_108" class="d-none">
                                    <div class="m-2">
                                        <h5 class="font-bold">
                                            {% trans %}trade.sell_order.header{% endtrans %}
                                        </h5>
                                        <p class="overflow-wrap-break-word">
                                            {% trans with {'%baseSymbol%': 'newsupertestokenone'} %}trade.sell_order.guide_body{% endtrans %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="card-body">
                        {{ include('spinners/spinner.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container p-0 m-0">
            <div class="row p-0 m-0">
                <div class="col-12 col-xl-6 pr-xl-2 mt-3">
                    <div class="h-100">
                        <div class="card h-100">
                            <div class="card-header">
                                {% trans %}trade.buy_orders.header{% endtrans %}
                                <span class="card-header-icon">
                                    {% trans %}trade.buy_orders.header_total{% endtrans%} 0 {% trans %}mintme{% endtrans %}
                                    <div class="d-inline">
                                        <a data-tippy="">
                                            <svg
                                                aria-hidden="true"
                                                focusable="false"
                                                data-prefix="fas"
                                                data-icon="question"
                                                role="img"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 384 512"
                                                slot="icon"
                                                class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                            >
                                                <path
                                                    fill="currentColor"
                                                    d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                                ></path>
                                            </svg>
                                        </a>
                                        <div id="guide_111" class="d-none">
                                            <div class="m-2">
                                                <h5 class="font-bold">
                                                    {% trans %}trade.buy_orders.header{% endtrans %}
                                                </h5>
                                                <p class="overflow-wrap-break-word">
                                                    {% trans with {'%name%': 'MINTME'} %}trade.buy_orders.guide_body{% endtrans %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive fixed-head-table mb-0">
                                    <div>
                                        <p class="text-center p-5">
                                            {% trans %}trade.buy_orders.no_orders{% endtrans %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 pl-xl-2 mt-3">
                    <div class="h-100">
                        <div class="card h-100">
                            <div class="card-header">
                                {% trans %}trade.sell_orders.header{% endtrans %}
                                <span class="card-header-icon">
                                    {% trans %}trade.sell_orders.header_total{% endtrans %}: 0
                                    <span>
                                        newsupertestokeno...
                                    </span>
                                    <div class="d-inline">
                                        <a data-tippy="">
                                            <svg
                                                aria-hidden="true"
                                                focusable="false"
                                                data-prefix="fas"
                                                data-icon="question"
                                                role="img"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 384 512"
                                                slot="icon"
                                                class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                            >
                                                <path
                                                    fill="currentColor"
                                                    d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                                ></path>
                                            </svg>
                                        </a>
                                        <div id="guide_114" class="d-none">
                                            <div class="m-2">
                                                <h5 class="font-bold">
                                                    {% trans %}trade.sell_orders.header{% endtrans %}
                                                </h5>
                                                <p class="overflow-wrap-break-word">
                                                    {% trans with {'%name%': 'newsupertesttokeone'} %}trade.sell_orders.guide_body{% endtrans%}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive fixed-head-table mb-0">
                                    <div>
                                        <p class="text-center p-5">
                                            {% trans %}trade.sell_orders.no_orders{% endtrans %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    {% trans %}trade.history.header{% endtrans %}
                    <span class="card-header-icon">
                        <div class="d-inline">
                            <a data-tippy="">
                                <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="question"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512"
                                    slot="icon"
                                    class="ml-1 text-white rounded-circle square blue-question svg-inline--fa fa-question fa-w-12"
                                >
                                    <path
                                        fill="currentColor"
                                        d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
                                    ></path>
                                </svg>
                            </a>
                            <div id="guide_119" class="d-none">
                                <div class="m-2">
                                    <h5 class="font-bold">
                                        {% trans %}trade.history.guide_header{% endtrans %}
                                    </h5>
                                    <p class="overflow-wrap-break-word">
                                        {% trans with {'%baseSymbol%': 'MINTME'} %}trade.history.guide_body{% endtrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive fixed-head-table mb-0">
                        <div>
                            <p class="text-center p-5">
                                {% trans %}trade.history.no_deals{% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="h1 text-center pt-5 mt-5">
    {% trans %}trade.page.disabled{% endtrans %}
</div>
{% endif %}
