<div class="trading" v-if="false">
    <div class="card-header"><span>Trading</span>
        <div id="currency" class="dropdown btn-group b-dropdown float-right">
            <button aria-haspopup="true" aria-expanded="false" type="button"
                    class="btn dropdown-toggle btn-primary">
                Currency:
                <span>
                Crypto
            </span></button>
            <ul role="menu" tabindex="-1" aria-labelledby="currency__BV_toggle_" class="dropdown-menu"><!----></ul>
        </div>
    </div>
    <div slot="title" class="card-title font-weight-bold pl-3 pt-3 pb-1">
        <span class="float-left">Top 0 tokens | Market Cap: 0 BTC</span>
        <div  class="dropdown btn-group b-dropdown float-right pr-3" value="deployed">
            <button  aria-haspopup="true" aria-expanded="false" type="button"
                    class="btn dropdown-toggle btn-primary">
                <span>Deployed tokens</span>
            </button>
            <ul role="menu" tabindex="-1" aria-labelledby="customFilter__BV_toggle_" class="dropdown-menu">
                <li role="presentation">
                    <a value="Deployed tokens" role="menuitem" target="_self" href="#"
                                           class="dropdown-item">
                        Deployed tokens
                    </a>
                </li>
                <li role="presentation">
                    <a value="All tokens" role="menuitem" target="_self" href="#"
                                           class="dropdown-item">
                        All tokens
                    </a><
                    /li>
                <li role="presentation">
                    <a value="Tokens I own" role="menuitem" target="_self" href="#"
                                           class="dropdown-item">
                        Tokens I own
                    </a>
                </li>
            </ul>
        </div>
       </div>
    <div class="p-5 text-center text-white">
        <i class="vld-icon" fixed-width></i>
    </div>
</div>
