<div class="trading" v-if="false">
    <div class="card-header"><span>Trading</span>
        <div id="currency" class="dropdown btn-group b-dropdown float-right">
            <button aria-haspopup="true" aria-expanded="false" type="button"
                    class="btn dropdown-toggle btn-primary">
                Currency:
                <span>
                Crypto
            </span></button>
        </div>
    </div>
    <div slot="title" class="card-title font-weight-bold pl-3 pt-3 pb-1">
        <span class="float-left">0 tokens | Market Cap: 0 BTC</span>
       </div>
    <div class="p-5 text-center text-white">
        <i class="vld-icon"></i>
    </div>
</div>
