<div class="row">
    <div class="card h-100 mb-3 col-12 p-0 {% if isTokenPage is not defined %}col-lg-7{% endif %}">
        <div class="card-header">
            <h3 class="text-white">
                {% trans %}voting.create{% endtrans %}
                <span class="text-primary">{% trans %}voting.voting{% endtrans %}</span>
            </h3>
        </div>
        <div class="card-body">
            <div class="p-5 text-center">
                <div class="icon-loading"></div>
            </div>
        </div>
    </div>
    <div class="card h-100 col-12 p-0 {% if isTokenPage is not defined %}col-lg-5{% endif %}">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3 class="text-white">
                    {% trans %}voting.options.set{% endtrans %}
                    <span class="text-primary">{% trans %}voting.options{% endtrans %}</span>
                </h3>
            </div>
        </div>
        <div class="card-body">
            <div class="p-5 text-center">
                <div class="icon-loading"></div>
            </div>
        </div>
    </div>
</div>
