<div class="tabs tabs-theme" v-if="false">
    <div>
        <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="nav-item"><a role="tab" aria-selected="true" aria-setsize="4"
                                                        aria-posinset="1" target="_self" href="#"
                                                        class="nav-link active"> Wallet </a></li>
            <li role="presentation" class="nav-item"><a role="tab" tabindex="-1" aria-selected="false" aria-setsize="4"
                                                        aria-posinset="2" target="_self" href="#" class="nav-link">
                    Trading history </a></li>
            <li role="presentation" class="nav-item"><a role="tab" tabindex="-1" aria-selected="false" aria-setsize="4"
                                                        aria-posinset="3" target="_self" href="#" class="nav-link">
                    Deposit/Withdraw history </a></li>
            <li role="presentation" class="nav-item"><a role="tab" aria-selected="false" aria-setsize="4"
                                                        aria-posinset="4" target="_self" href="#" class="nav-link"
                                                        tabindex="-1"> Active orders </a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" aria-hidden="false" class="tab-pane active" tabindex="-1" style="">
            <div class="px-0 py-2">
                <div class="card-title font-weight-bold pl-4 pt-2 pb-1"> Balance</div>
                <div class="table-responsive">
                    <div class="p-5 text-center">
                        <i class="vld-icon"></i>
                    </div>
                </div>
                <div class="card-title font-weight-bold pl-4 pt-2 pb-1"> Tokens you own</div>
                <div class="p-5 text-center">
                    <i class="vld-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
