{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div id="profile" class="container">
        <template>
            <div class="card">
                <div class="card-header tabs">
                    <div class="tab" :class="tabSelected == 'personalData' ? 'selected' : ''" @click="tabSelected = 'personalData'">Personal Data</div>
                    <div class="tab" :class="tabSelected == 'accountSettings' ? 'selected' : ''" @click="tabSelected = 'accountSettings'">Account Settings</div>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <div v-show="tabSelected == 'personalData'">
                            <personal-data-form></personal-data-form>
                        </div>
                        <div v-show="tabSelected == 'accountSettings'">
                            <account-settings></account-settings>
                        </div>
                    </div>

                </div>

            </div>
        </template>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/profile.js') }}"></script>
{% endblock %}
