{% extends 'base.html.twig' %}

{% block title %}Token{% endblock %}

<<<<<<< HEAD
{% block content %}
    <div id="token" class="container">
        <div class="card">
            <div class="card-header">
                Plant your own token
            </div>
            <div class="card-body">
                <token-data-form></token-data-form>
            </div>
        </div>
    {% endblock %}

    {% block pagescripts %}
        <script src="{{ asset('build/token.js') }}"></script>
    {% endblock %}
=======
{% block bodyclass %}token{% endblock %}

{% block content %}
    <div id="token" class="container">
        <div class="row">
            <div class="col">
                <div class="card transparent">
                    <div class="card-header simple-tabs">
                        <div
                            class="tab"
                            :class="selectedTab == 'tokenInvest' ? 'selected' : ''"
                            @click="selectedTab = 'tokenInvest'"
                        >
                            <span class="text">Invest</span>
                        </div>
                        <div
                            class="tab"
                            :class="selectedTab == 'tokenIntroduction' ? 'selected' : ''"
                            @click="selectedTab = 'tokenIntroduction'"
                        >
                            <span class="text">Introduction</span>
                        </div>
                    </div>
                    <div class="card-body px-0">
                        <div v-show="selectedTab == 'tokenInvest'">
                            <token-invest></token-invest>
                        </div>
                        <div v-show="selectedTab == 'tokenIntroduction'">
                            <token-introduction></token-introduction>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/token.js') }}"></script>
{% endblock %}
>>>>>>> d042643a57f40c34726c168ca2b59f440d7682a6
