{% extends 'base.html.twig' %}

{% block title %}Token{% endblock %}

{% block bodyclass %}token{% endblock %}

{% block content %}
    <div id="token" class="container">
        <div class="row">
            <div class="col">
                <template>
                    <b-tabs class="tabs-theme transparent">
                        <b-tab title="Invest" active>
                            <token-invest></token-invest>
                        </b-tab>
                        <b-tab title="Introduction">
                            <token-introduction></token-introduction>
                        </b-tab>
                    </b-tabs>
                </template>

            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/token.js') }}"></script>
{% endblock %}
