{% extends 'base.html.twig' %}

{% block title %}Trading{% endblock %}

{% block bodyclass %}trading{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Trading! ✅</h1>
</div>
{% endblock %}
