{% extends 'base.html.twig' %}

{% block title %}Trading{% endblock %}

{% block bodyclass %}trading{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                Contents of TRADING page
            </div>
        </div>
    </div>
{% endblock %}
