.avatar
  position: relative

.avatar__container
  display: inline-block
  width: 25px
  text-align: center

.avatar__small
  max-width: 22px
  max-height: 22px
  min-height: 10px
  min-width: 20px

.avatar__coin
  max-width: 25px
  max-height: 25px
  min-height: 10px
  min-width: 10px
  bottom: 2px
  border-width: 0 !important

.avatar__middle
  max-width: 28px
  max-height: 28px
  min-height: 22px
  min-width: 22px

.avatar__large
  max-width: 152px
  max-height: 152px
  min-height: 152px
  min-width: 152px

.card-header .avatar
  margin-right: 0.5rem

.dark-coin-avatar
  filter: grayscale(100%) brightness(20%)

.coin-avatar-sm
  width: 18px !important
  height: 18px !important

  &.coin-avatar-mintme
    width: auto !important

.coin-avatar-md
  width: 25px !important
  height: 25px !important

  &.coin-avatar-mintme
    width: auto !important

.coin-avatar-lg
  width: 30px !important
  height: 30px !important

  &.coin-avatar-mintme
    width: auto !important

.coin-avatar-xl
  width: 90px !important
  height: 90px !important

  &.coin-avatar-mintme
    width: auto !important

.coin-avatar-post
  width: 60px !important
  height: 60px !important

  &.coin-avatar-mintme
    width: auto !important
