.avatar
    position: relative

    .avatar-overlay
        top: 50%
        left: 50%
        position: absolute
        transform: translate(-50%, -50%)

.avatar__small
    max-width: 22px
    max-height: 22px
    min-height: 10px
    min-width: 10px
    border-width: 0 !important

.avatar__middle
    max-width: 37px
    max-height: 37px
    min-height: 22px
    min-width: 22px
    border-width: 1px

.avatar__large
    max-width: 152px
    max-height: 152px
    min-height: 80px
    min-width: 80px
    border-width: 2px

.card-header .avatar
    margin-right: 0.5rem
