.header-bg
  background: url(../img/header-main.png) no-repeat bottom
  background-size: cover
  position: relative
  z-index: 1
  height: 2.875rem
  @include media-breakpoint-up(sm)
    height: 4.375rem
  @include media-breakpoint-up(md)
    height: 6.25rem
  @include media-breakpoint-up(lg)
    height: 9rem
