.homepage
  .top-showcase
    @include media-breakpoint-down(xs)
      font-size: .875rem
    .title
      font-size: 2.375em
      font-weight: 800
      letter-spacing: -.0625rem
      word-spacing: -.125rem
      text-transform: uppercase
    .description
      display: inline-block
      font-size: 1.25em
      line-height: 1.25
    .call-to-action
      padding: .75rem 1.5rem
      font-size: 1.5em
      text-transform: uppercase
      background: linear-gradient(180deg, $gradiant-blue-200, $gradiant-blue-400)
  .features
    .card
      max-width: 29rem
      &.feature-1, &.feature-3
        margin-right: 9rem
        @include media-breakpoint-down(lg)
          margin-right: 5rem
        @include media-breakpoint-down(md)
          margin-top: 1rem
          margin-right: 2rem
        @include media-breakpoint-down(sm)
          margin-right: 1rem
        @include media-breakpoint-down(xs)
          margin: 1.5rem 0 0
      &.feature-1
        @include media-breakpoint-down(lg)
          margin-top: 2rem
      &.feature-2, &.feature-4
        margin-top: 4rem
        margin-left: 7rem
        @include media-breakpoint-down(lg)
          margin-left: 4rem
        @include media-breakpoint-down(md)
          margin-left: 1rem
          margin-top: 3rem
        @include media-breakpoint-down(sm)
          margin-left: .5rem
        @include media-breakpoint-down(xs)
          margin: 1.5rem 0 0
    .contents
      height: 7rem
      overflow-y: auto
    &.top
      padding-top: 9rem
      @include media-breakpoint-down(md)
        padding-top: 6rem
      @include media-breakpoint-down(sm)
        padding-top: 4rem
    &.bottom
      padding-top: 5rem
      padding-bottom: 10rem
      @include media-breakpoint-down(md)
        padding-top: 3rem
        padding-bottom: 7rem
      @include media-breakpoint-down(sm)
        padding-top: 2rem
        padding-bottom: 3rem
      @include media-breakpoint-down(xs)
        padding-top: 0
        padding-bottom: 1rem
  .flower-bg
    background: url(../img/coin-flower.png) no-repeat
    background-size: 48rem
    background-position:  top 3.5rem center
    @include media-breakpoint-down(lg)
      background-size: 42rem
      background-position:  top 6rem center
    @include media-breakpoint-down(md)
      background-size: 38rem
      background-position:  top 13rem center
    @include media-breakpoint-down(sm)
      background-size: 30rem
      background-position:  top 17rem center
    @include media-breakpoint-down(xs)
      background-size: 40rem
      background-position:  top 13rem center

.count-down
  align-items: center
  background-color: transparent
  display: flex
  justify-content: center
  .block
    display: flex
    flex-direction: column
    margin: 10px
    .digit
      color: #35789D
      font-size: 3.125rem
      font-weight: 100
      font-family: 'Roboto', serif
      text-align: center
    .text
      color: #08A2E8
      font-size: 1.25rem
      font-family: 'Roboto Condensed', serif
      font-weight: 40
      margin-top: -20px
      margin-bottom: 10px
      text-align: center
  @include media-breakpoint-down(xs)
    .block
      margin: 5px
    .digit
      font-size: 1.8rem
    .text
      font-size: 0.8rem
  

