.navbar-nav
  .lang-menu
    left: unset
    right: 0
    a
      cursor: pointer

.btn-lang-menu
  background-color: transparent
  border: none

.lang-dropdown
  .flag-icon-en
    @extend .flag-icon-gb
  .flag-icon-ar
    @extend .flag-icon-ae
  .flag-icon-uk
    @extend .flag-icon-ua