/* ignored by stylelint because of github.com/AleshaOleg/postcss-sass/issues/120 */

@import '~flag-icon-css/sass/variables'
@import '~flag-icon-css/sass/flag-icon-base'

// Including flag icon classes and images
@each $country in $translation-flags
  @include flag-icon($country)

.language-switcher
  margin-left: -9px

  .dropdown-menu
    left: unset
    right: 0

    min-width: auto
    padding: 0.15rem
    border: 1px solid $dark-white
    background: $secondary

    a
      cursor: pointer

    a:hover
      color: $color-nav-hover

  .btn
    background-color: transparent
    border: none
    color: $color-nav

  .btn:hover
    color: $color-nav-hover

  .dropdown-item
    color: $dark-white
    width: auto
    border-radius: 0.2em
    transition: background-color 500ms
    border: none
    padding: .25rem 2.2rem .25rem 0.65rem

    &:hover, &:focus, &.active, &:active
      background-color: transparent
      color: $color-nav-hover
      border: none

  @include media-breakpoint-down(sm)
    margin-left: 20px !important
