@import 'variables'
@import 'mixins'
@import '~bootstrap/scss/bootstrap'
@import url('https://fonts.googleapis.com/css?family=Lato')
@import 'topnav'
@import 'avatar'
@import 'icons'
@import 'footer'

*, *:before, *:after
  box-sizing: inherit

html
  @include font-scale(sm)
  min-height: 100vh
  box-sizing: border-box
  overflow-y: scroll
  font-display: swap
  overflow-x: hidden

body
  @include font-scale(sm)
  color: $dark-white
  font-family: $lato-font
  background: $black url("../img/sky_image.webp") no-repeat fixed
  background-size: 100% 100%
  min-height: 100vh
  overflow-x: hidden

  &.modal-open
    padding-right: 0 !important

  @include media-breakpoint-up(xs)
    content: "xs"

  @include media-breakpoint-up(sm)
    content: "sm"

  @include media-breakpoint-up(md)
    content: "md"

  @include media-breakpoint-up(lg)
    content: "lg"

  @include media-breakpoint-up(xl)
    content: "xl"

@mixin truncate($rows, $line-height, $background: '')
  position: relative
  overflow: hidden
  max-height: $line-height * $rows
  line-height: $line-height

  @supports (-webkit-line-clamp: $rows)
    display: -webkit-box
    -webkit-line-clamp: $rows
    -webkit-box-orient: vertical

    &:after
      display: none

.show-hide-text
  p
    @include truncate(20, 20px, #fff)

.content-wrapper
  min-height: 100vh
  background: $index-description-bg
  width: 100% !important

.form-control
  height: auto

.tooltip-custom
  max-width: 200px
  overflow-wrap: break-word

.tooltip-inner
  white-space: pre-wrap !important
  width: auto
  max-width: 100%

.text-white:not(input):not(.bg-danger)
  color: $dark-white !important

.min-width-0
  min-width: 0

.text-bold
  font-weight: 800

.img-reduced
  max-width: 70%
  @include media-breakpoint-up(md)
    max-width: 60%
  @include media-breakpoint-up(lg)
    max-width: 80%

.index-bg
  min-height: 100vh
  margin-top: -4.5%
  padding-top: 4.5%
  background: url("../img/hero_image.png") no-repeat, linear-gradient(#102238 50%, transparent)
  background-size: 100% auto
  @include media-breakpoint-down(sm)
    background: linear-gradient($secondary-dark 50%, transparent)

a
  color: $color-link

  &.link-light
    color: $dark-white

  &:hover
    color: $color-link-hover

  @media (hover: none)
    &:hover
      color: $color-link
      text-decoration: none

    &:focus
      color: $color-link
      text-decoration: none

    &:active
      color: $color-link-hover
      transition: color 0s
      text-decoration: underline

.btn-cancel
  display: inline-block
  padding: .25rem 1rem
  font-size: 1rem
  line-height: 1.5
  vertical-align: middle
  border-width: 1px
  border-style: solid
  border-color: transparent
  color: $color-link

  &:hover
    color: $color-link-hover
    text-decoration: underline


.btn-disabled
  &, &:hover
    color: $grey
    text-decoration: none

.alert
  &.alert-danger
    border-color: $toast-error-bg
    background-color: $toast-error-bg
    color: $toast-error-text

  &.alert-success
    border-color: $toast-success-bg
    background-color: $toast-success-bg
    color: $toast-success-text

  &.alert-primary, &.alert-info
    border-color: $toast-info-bg
    background-color: $toast-info-bg
    color: $toast-info-text

  &.alert-warning
    border-color: $toast-warning-bg
    background-color: $toast-warning-bg
    color: $toast-warning-text

  font-size: 20px
  padding: 6px 15px
  border-radius: 2px

.alert, .toast
  i
    margin-right: 15px

.faq-block
  &.light-border
    border-top: none !important
    border-bottom: 1px solid $secondary !important

    &:last-child
      border: none !important

  &.no-decoration a
      text-decoration: none
      white-space: normal

  a:hover
    color: white

  a:focus
    color: white
    border-style: dotted
    border-width: 1px
    border-color: $color-link

.visible-hidden
  visibility: hidden

.c-pointer
  cursor: pointer

.tippy-tooltip
  padding: .3px

  @include headers
    margin: 0

    @include font-scale(sm)

  p
    margin: 0

.blue-question
  background: $color-tooltip
  padding: .125rem
  font-size: .875em
  text-align: center
  vertical-align: middle

  &.square
    width: 1em
    height: 1em

.success-highlight
  animation: success-highlight 1000ms ease-out
  @keyframes success-highlight
    from
      background-color: $toast-success-bg

.error-highlight
  animation: error-highlight 1000ms ease-out
  @keyframes error-highlight
    from
      background-color: $toast-error-bg

.card, .modal, .box
  label
    margin: 0
    padding-bottom: .3em

  .form-group
    margin-bottom: .5rem

  input:not([type=button]):not([type=submit]):not([type=reset]), select, textarea
    background-color: $card-input-color !important
    color: $white !important
    border-radius: 0
    height: calc(2.0rem + 2px)
    transition: all .3s ease

  input:not([type=button]):not([type=submit]):not([type=reset])
    &:focus, &:valid
      background-color: $input-focus !important
      box-shadow: none !important

  input:not([type=button]):not([type=submit]):not([type=reset]):-webkit-autofill
    -webkit-box-shadow: 0 0 0 30px $card-input-color inset !important
    -webkit-text-fill-color: $white !important

    &:hover, &:focus, &:active, &:valid
      -webkit-box-shadow: 0 0 0 30px $input-focus inset !important
      -webkit-text-fill-color: $white !important

  textarea
    height: auto
    border: none
    cursor: url('../img/input-cursor.png'), auto
    -webkit-text-fill-color: white

  .custom-select, .form-control
    border: none

  .custom-select:focus
    color: $white

.card
  background: none
  position: relative
  color: $card-text-color
  border: none
  border-radius: 0

  .card-header
    border: none
    background: $card-header-bg
    color: $dark-white
    padding: .2rem 1.25rem

    &[role=tab]
      background: $secondary-dark


    @include font-scale(md)

    .card-header-description
      font-size: .7em

    .card-header-icon
      float: right
      color: $dark-white

  .card-body
    background: $card-body-bg

  &.transparent
    background-color: transparent

    > .card-header
      background-color: $dark-white
      color: inherit

.row
  &.trade-orders
    .card
      .card-body
        line-height: 1 !important

      .d-flex
        .w-50
          .custom-checkbox
            min-height: 1rem !important

            > .custom-control-label
              &:before, &:after
                top: 0 !important

              .blue-question
                vertical-align: bottom

  &.currency-container
    min-height: 95px

  .col-donation-balance
    @include media-breakpoint-up(lg)
      min-width: 197px

.btn-primary
  color: $dark-white !important
  background-color: transparent !important
  border-color: $dark-white
  @media (hover: hover)
    &:hover:not(:disabled)
      color: $secondary !important
      background-color: $dark-white !important
      border-color: $dark-white !important
  @media (hover: none)
    background-color: $primary
    border-color: $dark-white !important

  &:disabled
    &:hover
      color: inherit
      background-color: $primary
      border-color: $primary

  &.dropdown-toggle
    background-color: transparent !important
    border-color: $dark-white !important

    &:hover
      color: $secondary !important
      background-color: $dark-white !important

.btn-big
  @include media-breakpoint-up(lg)
    font-size: 1.4rem
  @include media-breakpoint-up(xxl)
    font-size: 2rem

.btn-transparent
  border-color: transparent
  background: transparent

.btn-ghost
  border-color: $dark-white
  background: transparent
  color: $dark-white !important
  transition: all .3s ease
  @media (hover: hover)
    &:hover
      background: $dark-white
      color: $secondary
  @media (hover: none)
    background-color: $secondary-dark !important
    border-color: $dark-white !important

  &.ghost-alt
    &:hover
      color: $primary-light

.bright-on-hover
  transition: all .3s ease

  &:hover
    filter: brightness(1.2)

.dropdown-menu
  color: $dark-white
  background-color: $secondary
  border: 1px solid $dark-white

  .dropdown-item
    color: $dark-white

    &:hover
      color: $gold
      background-color: transparent

.circle-progress
  div.circle
    background: none
    height: auto
    width: auto

    canvas
      @include media-breakpoint-down(md)
        width: 33px
      @include media-breakpoint-down(sm)
        width: 23px
      @include media-breakpoint-down(xs)
        width: 23px

.percent-text
  font-size: 15px !important
  margin-bottom: 5px

  @include media-breakpoint-down(md)
    font-size: 13px !important
  @include media-breakpoint-down(sm)
    font-size: 10px !important
  @include media-breakpoint-down(xs)
    font-size: 9px !important

.nav-item-circle-progress
  @include media-breakpoint-up(md)
    margin-left: 30px

.circle
  background: #51677F
  border-radius: 200px
  height: 200px
  width: 200px
  display: table

  img
    vertical-align: middle
    display: table-cell
    width: 120px

.custom-scrollbar
  scrollbar-color: auto
  cursor: default

  &::-webkit-scrollbar
    width: 10px
    height: 10px

  &::-webkit-scrollbar-track-piece
    background-color: $dark-white

  &::-webkit-scrollbar-thumb:horizontal
    background-color: $primary-light

  &::-webkit-scrollbar-thumb:vertical
    height: 30px
    background-color: $primary-light

.fixed-head-table
  thead
    tr
      display: table
      width: 100%
      table-layout: fixed
      justify-content: space-between

      th
        width: 100px

  tbody
    max-height: 17.7rem
    display: block
    width: 100%
    position: relative

    tr
      width: 100%
      table-layout: fixed
      display: table

.table, .table-responsive
  color: inherit
  margin-bottom: 0.7rem

  thead
    tr th
      border: none
      font-weight: normal
      padding-top: 0.2rem

      &:first-child
        padding-left: 1.5rem

  tbody
    tr
      &:hover
        color: inherit

      &:nth-child(odd)
        background-color: $odd-item-color
        border: none

  &, tbody
    @extend .custom-scrollbar

  td
    border: none
    padding-top: 0.35rem
    padding-bottom: 0.35rem
    vertical-align: middle

    &:first-child
      padding-left: 1.5rem

    &:last-child
      padding-right: 1.5rem

    .text-truncate.truncate-responsive
      @include media-breakpoint-up(lg)
        max-width: 200px

      @include media-breakpoint-up(xl)
        max-width: 300px

      max-width: 100px

    img
      height: 22px

  .trading-body
    td
      padding-left: calc(0.75rem + 0.65em) !important

  .table-orders
    td
      &:first-child
        padding-left: 1.5rem

      &:last-child
        padding-right: 1.5rem
        padding-left: 0.75rem

    white-space: nowrap

  .table-orders:hover
    tr
      cursor: pointer

.fix-layout
  table-layout: fixed


.pagination
  .page-item
    .page-link
      background: none
      color: $blue
      line-height: 13px

  .active
    .page-link
      color: $dark-white
      cursor: default !important
      pointer-events: none !important

.tabs
  @media (max-width: 768px)
    .tabs-wrapper
      display: flex

      .nav
        &.nav-tabs
          width: 100%
          flex-wrap: nowrap
          overflow-x: auto
          overflow-y: hidden
          -webkit-overflow-scrolling: touch
          -ms-overflow-style: -ms-autohiding-scrollbar

          &::-webkit-scrollbar
            display: none

  .nav-tabs
    background-color: $color-tabs
    display: flex
    text-align: center
    padding: 3px !important
    align-items: stretch
    border: none

    .nav-item
      flex: 1 1 auto
      padding: 1px
      color: $dark-white
      margin-right: 2px

      .nav-link
        border: none
        background-color: $color-tabs
        color: $dark-white
        padding: .2rem 1.25rem

        &:hover
          color: $gold

        @include font-scale(md)

        &.disabled
          cursor: default

      .active
        color: $gold


  .tab-content
    flex: 1 1 auto
    background: $secondary

  &.no-padding
    .tab-content
      padding: 0

  &.transparent
    .nav-tabs
      background: $secondary
      text-align: left
      overflow: hidden
      border: 2px solid $secondary
      white-space: nowrap

    .nav-item-token
      flex: initial
      overflow: hidden
      margin-left: auto
      -webkit-margin-before: -4px

      .nav-link-token
        @extend .nav-link

        @include font-scale(md)

        &.active
          color: $color-link

        &.active::after
          content: ' '
          position: absolute
          bottom: .75rem
          left: 1.5rem
          height: .125rem
          background-color: unset
          width: calc(100% - 3rem)

    .nav-item
      display: inline-block
      flex: initial
      overflow: visible

      /* stylelint-disable no-descending-specificity */

      .nav-link
        color: inherit
        position: relative
        background: $secondary

        @include font-scale(md)

        &.active
          color: $gold

        &.active::after
          content: ' '
          position: absolute
          bottom: .75rem
          left: 1.5rem
          height: .125rem
          background-color: unset
          width: calc(100% - 3rem)

    /* stylelint-enable no-descending-specificity */

    @media (max-width: 480px)
      .swagger-ui .model
        font-size: 4px

      .nav-item
        display: inline-block
        flex: initial
        overflow: visible

        .nav-link
          color: inherit
          position: relative

          @include font-scale(md)

          &.active
            color: $gold

          &.active::after
            content: ' '
            position: absolute
            bottom: .75rem
            left: 1.5rem
            height: .125rem
            background-color: unset
            width: calc(100% - 3rem)

      .edit-token-profile
        position: absolute
        top: 0
        right: 0
        height: 100%

    .tab-content
      flex: initial
      padding: 1rem 0
      background: none

.modal-content
  background: $secondary

  .modal-header
    background-color: $primary
    padding: 0
    height: 33px
    align-items: center

    div
      width: 100%

    .modal-close
      padding-bottom: 1px
      @include font-scale(lg)

      color: $dark-white
      font-weight: lighter

  .modal-title
    padding-top: 11px
    @include font-scale(md)

@-moz-document url-prefix()
  .modal-title
    padding-top: 11px !important

  .modal-close
      padding-bottom: 3px !important

nav.top-navbar
  @include media-breakpoint-down(md)
    padding: 0.3rem 1rem !important

  .navbar-toggler-icon
    outline: none
    background-image: $navbar-toogler

    &:focus
      outline: none

.input-custom-padding
  padding-right: 75px

.btn-input
  position: relative
  align-self: stretch
  white-space: nowrap
  padding-top: 3px
  padding-bottom: 3px
  margin-left: 2px

.modal.show
  display: block
  background-color: rgba(0, 0, 0, .5)

.modal-dialog
  @extend .modal-dialog-centered

.empty-table
  .b-table-has-details
    display: none

.notification
  .title
    @include font-scale(md)
    font-weight: 800

  .link
    color: $blue

.v-cloak--block, .v-cloak--inline, .v-cloak--inline-block, .v-cloak--flex
  display: none

[v-cloak]
  display: none

  & > .v-cloak--block
    display: block !important

  & > .v-cloak--inline
    display: inline !important

  & > .v-cloak--inline-block
    display: inline-block !important

  & > .v-cloak--flex
    display: flex !important

  & > .v-cloak--hidden
    display: none

  & > *:not(.v-cloak--inline)
    display: none

.text-xs
  @include font-scale(xs)

.custom-social-btn
  padding: 2px 4px 2px 2px
  word-spacing: 7px
  text-align: left

.icon
  width: 18px
  height: 18px
  display: block
  background-size: auto 100%
  background-repeat: no-repeat

.icon-with-badge
  margin-top: -4px

.icon-default
  @include font-scale(md)
  color: $white

.img-barcode
  width: 120px

.g-recaptcha
  transform: scale(0.7)
  -webkit-transform: scale(0.7)
  transform-origin: 0 0
  -webkit-transform-origin: 0 0
  margin-bottom: -25px

.flex-basis-200
  flex-basis: 200px

.tooltip:not(.tooltip-traders)
  transition-duration: .4s !important
  transition-timing-function: ease-in !important

.toast
  &.toasted-primary
    &.error
      background: $toast-error-bg !important
      color: $toast-error-text !important

    &.info
      background: $toast-info-bg !important
      color: $toast-info-text !important

    &.success
      background: $toast-success-bg !important
      color: $toast-success-text !important

    &.warning
      background: $toast-warning-bg
      color: $toast-warning-text

  justify-content: center !important
  font-size: 20px !important
  padding: 6px 15px !important

.toast-text
  text-align: center

.toasted-container
  align-items: center
  justify-content: center
  left: 0 !important
  right: 0 !important
  -webkit-transform: none !important
  transform: none !important
  pointer-events: none

.toasted
  pointer-events: auto

meter
  width: 100%
  height: .5em
  vertical-align: top
  /* Applicable only to Firefox
  background: none
  background-color: $grey-light

  &::-webkit-meter-bar
    background: none
    background-color: $grey-light

@for $i from 1 to length($meterbg-list)+1
  meter[value="#{$i}"]::-webkit-meter-optimum-value
    background: nth($meterbg-list, $i)
  meter[value="#{$i}"]::-moz-meter-bar
    background: nth($meterbg-list, $i)

.top-50
  top: 50% !important

#token, #profile, #phone-verification
  [v-cloak]
    display: none

  .text-danger
    font-size: 80%

.word-break-all
  word-break: break-all

.word-break
  word-break: break-word

.font-size-90
  font-size: 90% !important

.overflow-wrap-break-word
  overflow-wrap: break-word

.pointer-events-none
  pointer-events: none !important

.bg-module
  background: $module-background

.is-invalid
  border: 1px solid $red !important

  &:focus, &:active
    outline: 0 !important
    outline-color: transparent !important
    outline-width: 0 !important
    outline-style: none !important
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important

input:not([type=button]):not([type=submit]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=file]):not([type=image])
  cursor: url('../img/input-cursor.png'), auto

input[type=search]::-webkit-search-cancel-button
  -webkit-appearance: none

.no-bg-img
  background-image: none !important

.show-password
  float: right
  position: relative
  top: 32px
  right: 10px

.show-password:hover
  cursor: pointer
  color: $color-toggle-password-active

.show-password-active
  @extend .show-password
  color: $color-toggle-password-hover

.truncate-name
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.truncate-token
  width: 100%
  white-space: nowrap
  text-overflow: ellipsis
  margin-block: -5px

.truncate-address
  .token-address-buttons
    display: flex
    padding-left: 6px

  span
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.pair-cell
  max-width: 200px

.card-fixed-small
  width: 100%
  max-width: 450px

.card-fixed-large
  width: 100%
  max-width: 981px

.form-control-btn.is-invalid
  background-size: calc(0.75em + 7rem) calc(0.75em + 0.25rem)

.form-control:focus, .phone-number .input-tel__input:focus
  border-style: solid !important
  border-width: thin !important
  border-color: $pale-gray !important
  -webkit-box-shadow: none !important
  box-shadow: none !important

.hover-icon:hover svg, svg.hover-icon:hover, .icon-default:hover
  color: $gold
  transition: color .15s

a.hover-icon:hover, div.hover-icon:hover
  span.social-link, span.wallet-action-txt
    text-decoration: underline !important

@include media-breakpoint-up(lg)
  .card-two-divs-fixed-large
    width: 100%
    max-width: calc(981px / 2)
  .airdrop-container
    text-align: left !important

@include media-breakpoint-down(md)
  .airdrop-container
    text-align: center !important
    font-size: 17px

    button
      margin-top: .5rem !important

@include media-breakpoint-only(xs)
  .airdrop-container
    span.message
      display: block !important

@media (max-width: 420px)
  .width-100
    flex: 0 0 100% !important
    max-width: 100% !important

.ml-api
  @include media-breakpoint-up(sm)
    margin-left: 0

  @include media-breakpoint-up(md)
    margin-left: 15%

  @include media-breakpoint-up(lg)
    margin-left: 25%

[data-useragent*="WebKit/"]
  .bbcode-content
    li
      list-style-position: inside

      .bbcode-span-list-item
        position: relative
        left: -0.5em

    ol
      .bbcode-span-list-item
        left: 0 !important

[data-useragent*="Gecko/"]
  .bbcode-content
    li
      position: relative
      left: 1em

    ol
      .bbcode-span-list-item
        left: 0 !important

#client-copy-btn, #secret-copy-btn
  textarea
    top: 0 !important

#captcha_login
  min-height: 78px

#register-form-captcha-container
  min-height: 75.5px

#register-form-password-container
  min-height: 88px

ul.spinner-tabs
  height: 36px

li.trade-tab
  a.nav-link
    margin-right: 64px

.bell-notification:hover svg, .default-user-avatar-topnav:hover, .default-user-avatar-navbar:hover
  filter: invert(26%) sepia(52%) saturate(255%) hue-rotate(4deg) brightness(87%) contrast(64%)

.overflow-y-hidden
  overflow-y: hidden

.embed-responsive
  max-width: 380px
  max-height: 230px
  height: 230px
  margin: 0 auto

.embed_responsive_item
  max-width: 380px
  max-height: 230px

.text-gold
  color: $gold

.bg-secondary-dark
  background-color: $secondary-dark !important

.top-0
  top: 0

.right-0
  right: 0

.h-fit-content
  height: fit-content

.price-converter-input__input
  &.is-invalid
    background-position-x: 100%

.price-converter-input__input--overflow
  padding-bottom: 24px
  height: 48px !important

.price-converter-input__converter--overflow
  top: initial
  right: initial
  bottom: 0
  left: 0
  height: 20px !important
  padding-left: 15px
  align-items: start !important
  overflow: hidden
  width: 100%
  white-space: nowrap
  line-height: 16px

.icon-blue
  color: #005ca1

.font-size-12
  font-size: 12px

.input-disabled
  color: #6c757d !important

.nav-envelope-badge
  border-radius: 50%
  min-width: 12px
  height: 12px
  bottom: 4px
  left: 12px
  padding: 1px
  background-color: red
  font-size: 8px

.account-settings
  form
    padding: 11px
    padding-left: 0px

.custom-switch
  .custom-control-input:checked + label.custom-control-label::before
    background-color: $blue !important

  .custom-control-label::before
    border-color: $white !important

  .custom-control-label::after
    background-color: $white !important

.odd-item-bg
  background-color: $odd-item-color

.flex-1
  flex: 1 !important

.list-group-item
  background: inherit

.input-group-text
  background: $dark-white
  border: none
  padding: 0.5rem 0.2rem

.elastic-text
  width: calc(100% - 2em)
  min-width: 70px

.clearfix
  clear: both

.w-max-50
    max-width: 50%

.alert-float
  font-size: 14px !important
  padding: 0 10px !important
  margin-bottom: 5px

.ml-mx-4
   @include media-breakpoint-up(xl)
     margin-left: 70px !important

   @media screen and (min-width: 1400px)
      margin-left: 165px !important

.ml-mx-5
  @include media-breakpoint-up(lg)
    margin-left: 0 !important

  @include media-breakpoint-up(xl)
    margin-left: 33px !important

