@import 'variables'
@import '~bootstrap/scss/bootstrap'

body
  color: $body-text-color
  font-family: $open-sans-font

.h-100vh
  height: 100vh

.gradient-bg
  background: linear-gradient(180deg, $gradiant-blue-dark, $gradiant-blue-light)

.header-bg
  background: url(../img/header-main.png) no-repeat bottom
  background-size: cover
  height: 60px
  @include media-breakpoint-up(sm)
    height: 90px
  @include media-breakpoint-up(md)
    height: 110px
  @include media-breakpoint-up(lg)
    height: 160px

.top-navbar
  a
    color: inherit
  .active
    color: $green
  .dropdown-toggle
    border: none
    &::after
      border: none
  .navbar-toggler-icon
    background-image: $navbar-light-toggler-icon-bg
  .search
    background-color: lighten($primary, 28%)
    color: darken($primary, 10%)
    border-color: darken($primary, 10%)
    padding: .375rem .5rem
    min-width: 32rem
    @include media-breakpoint-down(lg)
      min-width: 20rem
    &::placeholder
      color: darken($primary, 10%)
      opacity: 1
    &:focus
      box-shadow: 0 0 0 0.2rem lighten($primary, 28%)

.contents-wrapper
  @include media-breakpoint-down(xs)
    padding-bottom: 7rem

.footer-bg
  background: url(../img/footer-main.jpg) no-repeat top right
  background-size: cover
  height: 200px
  @include media-breakpoint-up(sm)
    height: 300px
  @include media-breakpoint-up(md)
    height: 400px
  @include media-breakpoint-up(lg)
    height: 500px
  @include media-breakpoint-up(xl)
    height: 700px
  
  .bottom-links
    padding-right: 14rem
    padding-bottom: 8rem
    @include media-breakpoint-down(lg)
      padding-bottom: 0
    @include media-breakpoint-down(md)
      padding: 0
    @include media-breakpoint-down(xs)
      position: relative
      bottom: 7rem
      font-size: .875em
    .link-box
      border-right: .0625rem solid $body-text-color
      &:last-child
        border: none
      .list-item:last-child
        padding-bottom: 0 !important
      a
        color: $body-text-color
        text-decoration: none

.icon-profile-big
  width: 2.5em
  height: 2.5em
  background: url('../img/profile-big-icon.png') no-repeat
  background-size: auto 100%

#nav-profile
  button, button:hover, button:focus
    box-shadow: none
    @extend .icon-profile-big

.card
  .card-header
    background: $card-header-bg-color
    font-size: 1.2em
    color: $white
    padding: .75rem 1.5rem
    span
      font-size: .9em
    .card-header-icon
      float: right
      color: $white
  .card-title
    margin: 0
    font-size: 1.25em
  form
    label
      color: #333333
      display: inline-block
  &.transparent
    background-color: transparent
    >.card-header
      background-color: $white
      color: inherit

.table
  border: .0625rem solid $gray-400
  th
    font-weight: normal
    font-size: .875em
  td, th
    &:first-child
      padding-left: 2rem
  tbody
    background: darken($gray-100, 2%)

.fix-layout
  table-layout: fixed

.pagination
  .page-link
    border: none
    border-radius: 0 !important

.btn-primary
  color: $white

.tabs
  display: flex
  text-align: center
  padding: 0 !important
  font-size: 1.2rem
  align-items: stretch
  .tab
    flex: 0 1 100%
    padding: 0.75rem 0
    cursor: pointer
    background-color: #2797e8
    color: $headings-color
  .tab.selected 
    background: #0078BB

.simple-tabs
  padding: 0 1rem !important
  font-size: 1.2rem
  .tab
    position: relative
    display: inline-block
    padding: 0.75rem
    cursor: pointer
    .text
      padding-bottom: .125rem
      border-bottom: .125rem solid transparent
    &.selected .text
        border-bottom-color: #0078BB

#profile
  .card-header
      font-size: 1em
      padding: 0rem 0rem

#token
  .buy-order, .sell-order
    @include media-breakpoint-up('lg')
      max-width: 35%
  .chart
    @include media-breakpoint-up('lg')
      max-width: 30%
  .fix-height
    max-height: 28rem