@import 'variables'
@import 'mixins'
@import '~bootstrap/scss/bootstrap'
@import '~bootstrap-vue/src/index.scss'
@import '~vue-range-slider/dist/vue-range-slider'
@import url('https://fonts.googleapis.com/css?family=Lato')
@import '../fonts/AlphaCloud/AlphaCloud.css'
@import 'topnav'
@import 'header'
@import 'footer'
@import 'home-page'
@import 'token-page'
@import 'profile-view-page'
@import 'errorpages'
@import 'mixins'
@import 'wallet'
@import 'news'
@import 'trading'
@import 'markitup'
@import 'bbcode-help'
@import 'knowledge-base'
@import 'sign-up-landing'

@include font-face(ConcordBold, '../fonts/Concord-Bold', null, null, ttf)

*, *:before, *:after
  box-sizing: inherit

html
  @include font-scale(sm)
  min-height: 100vh
  box-sizing: border-box

body
  @include font-scale(sm)
  color: $white
  font-family: $lato-font
  background: $black url("../img/sky_image.jpg") no-repeat fixed
  background-size: 100% 100%
  min-height: 100vh

  @include media-breakpoint-up(xs)
    content: "xs"

  @include media-breakpoint-up(sm)
    content: "sm"

  @include media-breakpoint-up(md)
    content: "md"

  @include media-breakpoint-up(lg)
    content: "lg"

  @include media-breakpoint-up(xl)
    content: "xl"

.text-bold
  font-weight: 800

.content-wrapper
  min-height: 100vh

a
  color: $color-link

  &.link-light
    color: $white

  &:hover
    color: $color-link-hover

.btn-cancel
  padding: .25rem 0rem
  font-size: 1rem
  line-height: 1.5
  vertical-align: middle
  border-width: 1px
  border-style: solid
  border-color: transparent
  color: $color-link

.faq-block
  a:hover
    color: white

.visible-hidden
  visibility: hidden

.range-slider-fill
  background: $color-slider-range

.range-slider-knob
  background: $color-slider-range
  border: none

.c-pointer
  cursor: pointer

.tippy-tooltip
  padding: .3px

  @include headers
    margin: 0

    @include font-scale(sm)

  p
    margin: 0

.tooltip-static
  background: white
  height: auto
  width: 50%
  padding: 0.3rem
  margin-left: 7.5em
  position: absolute
  z-index: 5
  display: inline-block
  color: black
  border-radius: 0.6rem
  margin-top: 9px

  @include font-scale(xs)

  &.tooltip-static-left
    &:before
      content: ''
      width: 0
      height: 0
      border-bottom: 6px solid white
      border-left: 6px solid white
      border-top: 6px solid transparent
      border-right: 6px solid transparent
      position: absolute
      display: inline-block
      top: 50%
      transform: rotate(45deg)
      margin-top: -6px
      margin-left: -9px

.margin-neg-15
  margin-top: -15px

.card, .modal, .box
  label
    margin: 0
    padding-bottom: .3em

  .form-group
    margin-bottom: .5rem

  input:not([type=button]):not([type=submit]):not([type=reset]), select, textarea
    background-color: $card-input-color !important
    color: $white
    border-radius: 0
    border: none
    height: calc(2.0rem + 2px)

  textarea
    height: auto
    border: none
    cursor: url('../img/input-cursor.png'), auto
    -webkit-text-fill-color: white

  .custom-select, .form-control
    border: none

.card
  background: none
  position: relative
  color: $card-text-color
  border: none
  border-radius: 0

  .card-header
    border: none
    background: $card-header-bg
    color: $white
    padding: .45rem 1.35rem

    @include font-scale(md)

    .card-header-description
      font-size: .7em

    .card-header-icon
      float: right
      color: $white

  .card-body
    background: $card-body-bg

  &.transparent
    background-color: transparent

    >.card-header
      background-color: $white
      color: inherit

.btn-primary
  color: $white
  background-color: #007DC0
  border-color: #007DC0

.circle
    background: #51677F
    border-radius: 200px
    height: 200px
    width: 200px
    display: table

    img
      vertical-align: middle
      display: table-cell
      width: 120px

.custom-scrollbar
  scrollbar-color: $primary-light $white
  cursor: default

  &::-webkit-scrollbar
    width: 10px
    height: 10px

  &::-webkit-scrollbar-track-piece
    background-color: $white

  &::-webkit-scrollbar-thumb:horizontal
    background-color: $primary-light

  &::-webkit-scrollbar-thumb:vertical
    height: 30px
    background-color: $primary-light

.table, .table-responsive
  color: inherit

  thead
    th
      border: none
      font-weight: normal

      &:first-child
        padding-left: 1.5rem

  tbody
    tr
      &:hover
        color: inherit

      &:nth-child(odd)
        background-color: #00334E
        border: none

  &, tbody
    @extend .custom-scrollbar

  td
    border: none
    padding-top: 0.35rem
    padding-bottom: 0.35rem
    vertical-align: middle

    &:first-child
      padding-left: 1.5rem

    &:last-child
      padding-right: 1.5rem

    .text-truncate.truncate-responsive
      @include media-breakpoint-up(lg)
        max-width: 200px

      @include media-breakpoint-up(xl)
        max-width: 300px

      max-width: 100px

    img
      height: 22px

.fix-layout
  table-layout: fixed


.pagination
  .page-item
    .page-link
      background: none
      color: $color-link
      line-height: 13px

  .active
    .page-link
      color: $white
      cursor: default !important
      pointer-events: none !important

.tabs
  .nav-tabs
    display: flex
    text-align: center
    padding: 0 !important
    align-items: stretch
    border: none

    .nav-item
      flex: 1 1 auto
      padding: 0
      border: none
      color: $white

      .nav-link
        border: none
        background-color: $color-tabs
        color: $white
        padding: .45rem 1.35rem

        @include font-scale(md)

        &.disabled
          cursor: default

      .active
        color: $color-link

  .tab-content
    flex: 1 1 auto
    background: $secondary

  &.no-padding
    .tab-content
      padding: 0

  &.transparent
    .nav-tabs
      position: relative
      display: block
      background: $secondary
      text-align: left
      border: 2px solid $secondary
      
      .nav-item
        display: inline-block
        flex: initial

        .nav-link
            color: inherit
            position: relative
            background: $secondary

            @include font-scale(md)

            &.active
              color: $color-link

            &.active::after
              content: ' '
              position: absolute
              bottom: .75rem
              left: 1.5rem
              height: .125rem
              background-color: unset
              width: calc(100% - 3rem)

      .edit-token-profile
        position: absolute
        top: 0
        right: 0
        height: 100%

    .tab-content
      flex: initial
      padding: 1.25rem 0
      background: none

.modal-content
  background: $secondary

  .modal-header
    background-color: $primary
    padding: 0

    div
      width: 100%

    .modal-close
      @include font-scale(lg)

      color: $white
      font-weight: lighter

  .modal-title
    @include font-scale(md)

nav.top-navbar
    .navbar-toggler-icon
      outline: none
      background-image: $navbar-toogler
      &:focus
        outline: none

.input-custom-padding
  padding-right: 75px

.btn-input
  position: relative
  right: 5px
  top: -30px
  height: 28px
  padding-top: 3px
  padding-bottom: 3px

.wallet-code
  color: $color-wallet-code
  @include font-scale(sm)

.modal.show
  display: block
  background-color: rgba(0, 0, 0, .5)

.modal-dialog
  @extend .modal-dialog-centered

.alert
  &.alert-danger
    border-color: $red
    background-color: $red
    color: $white

  &.alert-success
    border-color: $green
    background-color: $green
    color: $white

.empty-table
  .b-table-has-details
    display: none

.notification
  .title
    @include font-scale(md)
    font-weight: 800
  .link
    color: $blue

.v-cloak--block
  display: none

.v-cloak--inline
  display: none

[v-cloak]
  & > .v-cloak--block
    display: block

  & > .v-cloak--inline
    display: inline

  & > *:not(.v-cloak--inline)
    display: none

.text-xs
  @include font-scale(xs)

.custom-social-btn
  padding: 2px 4px 2px 2px
  word-spacing: 7px
  text-align: left

.blue-question
  background: $color-tooltip
  padding: .125rem
  font-size: .875em
  vertical-align: middle

  &.square
    width: 1em
    height: 1em

.icon
  width: 18px
  height: 18px
  display: block
  background-size: auto 100%
  background-repeat: no-repeat

.icon-edit
  @include font-scale(md)

.img-barcode
  width: 120px

.g-recaptcha
  transform: scale(0.7)
  -webkit-transform: scale(0.7)
  transform-origin: 0 0
  -webkit-transform-origin: 0 0
  margin-bottom: -25px

.flex-basis-200
  flex-basis: 200px

.tooltip
  transition-duration: .4s !important
  transition-timing-function: ease-in !important

meter
  width: 100%
  height: .5em
  vertical-align: top
  /* Applicable only to Firefox
  background: none
  background-color: $grey-light
  &::-webkit-meter-bar
    background: none
    background-color: $grey-light

@for $i from 1 to length($meterbg-list)+1
  meter[value="#{$i}"]::-webkit-meter-optimum-value
    background: nth($meterbg-list,$i)
  meter[value="#{$i}"]::-moz-meter-bar
    background: nth($meterbg-list,$i)

@media (min-width: 992px)
  .resetlabel
    position: absolute
    bottom: 1.2rem
    right: 1rem

#token, #profile
  [v-cloak]
    display: none
  .text-danger
    font-size: 80%

.word-break-all
  word-break: break-all

.word-break
  word-break: break-word

.overflow-wrap-break-word
  overflow-wrap: break-word

.bg-module
  background: $module-background

.is-invalid
  border: 1px solid $red !important

input:not([type=button]):not([type=submit]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=file]):not([type=image])
  cursor: url('../img/input-cursor.png'), auto

.no-bg-img
  background-image: none !important