@import "~bootstrap/scss/functions";
@import 'variables';
@import "~bootstrap/scss/mixins";
//mixins.scss

// =============================================================================
// Font scales mixins
// =============================================================================

@mixin font-scale($scale) {
  @if map-has-key($font-scales, $scale) {
    font-size: map-get($font-scales, $scale);
  } @else {
    @warn "Unknown `#{$scale}` in $font-scales.";
  }
}


// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Transform
// =============================================================================

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// =============================================================================
// HOME PAGE
// =============================================================================

@mixin background-img-home-page {
  background-blend-mode: screen multiply;
  background-position: right;
  background-repeat: no-repeat;
}

@mixin button-hover-home-page($background, $color, $background-hover, $color-hover) {
  background-color: $background;
  color: $color;
  &:hover {
    background-color: $background-hover !important;
    color: $color-hover !important;
  }
}

// =============================================================================
// TRADING PAGE
// =============================================================================
@mixin d-flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin reset-margin-botton-table-footer {
  form {
    label {
      margin-bottom: 0.8rem !important;
    }
  }
}

@mixin chevron($direction) {

  @if $direction == right {
    border-right: 6px solid $primary
  } @else if $direction == left {
    border-left: 6px solid $primary
  }

}

@mixin button-sort-table($direction) {
  $arrows-width: 5px;

  content: '';
  position: absolute;
  height: 0px;
  width: 0px;
  left: 8px;
  top: 50%;
  border-left: $arrows-width solid transparent;
  border-right: $arrows-width solid transparent;

  @if $direction == bottom {
    margin-bottom: -8px;
    border-top: $arrows-width solid $chevron-color;
  } @else if $direction == top {
    margin-top: -7px;
    border-bottom: $arrows-width solid $chevron-color;
  }

}

// =============================================================================
// Selection
// =============================================================================

@mixin link-highlight-selection {
  &::selection {
    color: $bg-primary-dark;
    background-color: $primary;
  }
}

// =============================================================================
// Header
// =============================================================================

@mixin headers {
  @for $i from 1 through 6 {
    h#{7 - $i} {
      @content
    }
  }
}

// =============================================================================
// Link
// =============================================================================

@mixin link-content-primary {
  color: $primary !important;
  background-color: $bg-primary-dark !important;
  text-decoration: underline !important;

  &:hover{
    color: $primary-highlight  !important;
    background-color: $bg-primary-dark !important;
  }

  &::selection{
    color: $primary !important;
    background-color: $bg-secondary !important;
  }
}

// =============================================================================
// light outline
// =============================================================================

@mixin focus-light-outline {
  box-shadow: none !important;
  outline: 2px solid rgba(255, 255, 255, 0.3) !important;
  outline-offset: 2px !important;
}

// =============================================================================
// dark outline
// =============================================================================

@mixin focus-dark-outline {
  outline: 3px solid rgba(212, 183, 29, 0.7) !important;
  outline-offset: 2px !important;
}
