.posts
	display: flex
	flex-direction: column
	align-items: center
	padding: 10px

.post
	background-color: #00334e
	border: 1px solid #0e3b59
	padding: 7px
	padding-bottom: 0px
	margin: 5px auto
	width: 100%

	p
		margin-bottom: 0
		text-align: justify

