.profile-view
  .description
    @include media-breakpoint-up(md)
      border-left: .125rem solid $primary

.edit-icon
  position: absolute
  top: 20px
  right: 20px
  z-index: 999

.phone-number
  .input-phone-number
    background-color: $input-focus !important
  .country-selector .maz-input
    background-color: $input-bg !important
  .maz-select__options-list
    background-color: $input-bg !important
  .maz-border-radius
    border-radius: 0
