.text-white
  color: $dark-white

.content-wrapper
  background: $index-description-bg

.title
  font-family: $concord-font
  line-height: 1.1

.what-is
  i
    font-family: $concord-font

.normal-title
  font-size: 1vw
  float: right


.feature-row
  background-color: $secondary
  i
    font-family: $concord-font
