wrapper
  background: $index-description-bg
  background-position-y: 120px

.landing-logo
  position: relative

#web
  position: absolute
  width: 100%
  height: 400px

#logo
  position: absolute
  margin-left: 35%
  margin-top: 15%
  width: 200px

#intro-text
  position: absolute
  bottom: 100px

.title
  font-family: $concord-font
  line-height: 1.1

.what-is
  font-size: 1.2vw
  i
    font-family: $concord-font

.normal-title
  font-size: 1vw
  float: right

.steps
  img
    width: 150px

  div
    display: inline-block
    width: 200px

.register-now
  background-color: $secondary

.hand-coin
  width: 50%

.lamp
  width: 50%

