#token
  .buy-order, .sell-order
    @include media-breakpoint-up('xl')
      flex: 0 0 35%
      max-width: 35%
  .chart
    @include media-breakpoint-up('xl')
      flex: 0 0 30%
      max-width: 30%
  .fix-height
    max-height: 28rem
  canvas
    max-height: 14rem
    background-color: $ghost-light
  .square
    width: 1em
    height: 1em

#token-data-form
  .custom-btn
    color: $white
    vertical-align: middle
    width: 100%
    svg
      width: 1.5em
      padding-right: 0.4em

.form-control-range
  position: relative
  -webkit-box-flex: 1
  -ms-flex: 1 1 auto
  flex: 1 1 auto
  width: 1%
.input-group-text
  background: $white
  border: none
  padding: 0.5rem 0.2rem
