.chat
  &:nth-child(even)
    background-color: #00334E

  img
    height: 22px

#token
  .deployed-icon, .not-deployed-icon
    height: 42px
    @include media-breakpoint-down('md')
      height: 34px
    @include media-breakpoint-down('sm')
      height: 27px

  min-height: 800px

  .not-deployed-icon
    img
      filter: grayscale(100%)

  .buy-order, .sell-order
    @include media-breakpoint-up('xl')
      flex: 0 0 35%
      max-width: 35%

  .chart
    @include media-breakpoint-up('xl')
      flex: 0 0 30%
      max-width: 30%

  .fix-height
    overflow-y: hidden

  .profile-link
    padding-left: 2px

#token-data-form
  .custom-btn
    color: $dark-white
    vertical-align: middle
    width: 100%

    svg
      width: 1.5em
      padding-right: 0.4em

.form-control-range
  position: relative
  -webkit-box-flex: 1
  -ms-flex: 1 1 auto
  flex: 1 1 auto
  width: 1%

.input-group-text
  background: $dark-white
  border: none
  padding: 0.5rem 0.2rem

.fixed-head-table
  thead
    tr
      display: table
      width: 100%
      table-layout: fixed
      justify-content: space-between

      th
        width: 100px

  tbody
    max-height: 17.7rem
    display: block
    width: 100%
    position: relative

    tr
      width: 100%
      table-layout: fixed
      display: table

.social-help
  padding-left: 0

  tbody
    max-height: 17.7rem
    display: block
    width: 100%
    position: relative
    overflow-y: overlay

    tr
      width: 100%
      table-layout: fixed
      display: table

.token-name-input
  background-color: $card-input-color !important
  color: $dark-white
  border-radius: 0
  border: none

.token-edit, .notification-config
  .faq-block
    border-top: none !important
    border-bottom-color: $secondary !important

    &:last-child
      border: none

  .card
    border: none

    a
      text-decoration: none
      white-space: normal

.alert-float
  font-size: 14px !important
  padding: 0 10px !important
  margin-bottom: 5px

.token-social-media-edit
  a:hover
    text-decoration: underline
