#token
  .buy-order, .sell-order
    @include media-breakpoint-up('lg')
      max-width: 35%
  .chart
    @include media-breakpoint-up('lg')
      max-width: 30%
  .fix-height
    max-height: 28rem
  canvas
    max-height: 14rem
    background-color: #c0deff
