@import "~bootstrap/scss/mixins"
@import "variables"
@import '~v-autocomplete/dist/v-autocomplete.css'

.top-navbar
  background: transparent

  a
    color: $color-nav

  a:hover
    color: $color-nav-hover

  .active a
    color: $color-nav-active

  .dropdown-toggle
    border: none

    &::after
      display: none

  .navbar-toggler-icon
    background-image: $navbar-light-toggler-icon-bg

  .search
    @include media-breakpoint-down(md)
      width: 100%

  .search-input
    background-color: $grey-dark
    color: $white
    border: none
    min-width: 25rem
    height: 2.0rem
    transition: min-width .25s ease

    &:focus
      min-width: 28rem
      transition: min-width .5s ease
      box-shadow: 0 0 0 0.2rem lighten($primary, 28%)

      @include media-breakpoint-down(lg)
        min-width: 14rem

    &::placeholder
      color: lighten($white, 5%)
      opacity: 1
      font-size: 0.8rem

    @include media-breakpoint-down(lg)
      min-width: 12rem

      &:focus
        min-width: 16rem

  .v-autocomplete-list
    background-color: $ghost-light
    width: 100%
    z-index: 2

    .v-autocomplete-list-item
      padding: .125rem .5rem
      color: $primary

  .input-group-text
    background: none
    border: none
    font-weight: lighter
    font-size: 1.3rem

  .icon-profile
    background-image: url('../img/profile-icon.png')
    @extend .icon

  .icon-profile-hover
    background-image: url('../img/profile-icon_hover.png')
    @extend .icon

  .icon-logout
    background-image: url('../img/logout-icon.png')
    @extend .icon

  .icon-logout-hover
    background-image: url('../img/logout-icon_hover.png')
    @extend .icon

  .dropdown-menu
    min-width: auto
    box-shadow: 0 0.2em 0.1em 0 rgba(215, 215, 215, 0.6)
    padding: 0.15rem
    border-radius: 5px

    .dropdown-item
      color: $primary
      width: auto
      border-radius: 0.2em
      transition: background-color 500ms

    .dropdown-item:hover, .dropdown-item:focus
      background-color: $primary
      color: white

      .icon-profile
        @extend .icon-profile-hover

      .icon-logout
        @extend .icon-logout-hover

  .icon-token
    background-image: url('../img/token-icon.png')
    @extend .icon

  .menu-token
    &:hover
      .icon-token
        background-image: url('../img/token-icon_hover.png')


.icon-profile-big
  width: 2.5em
  height: 2.5em
  background: url('../img/profile-big-icon.png') no-repeat
  background-size: auto 100%