// Change bootstrap variables to match Mintme style

// Fonts
$lato-font: 'Lato', sans-serif;
$concord-font: 'ConcordBold';
$cloud-font: 'AlphaCloud', sans-serif;

$font-scales: (
  xs: 13px,
  sm: 15px,
  md: 18px,
  lg: 32px
);

// Borders
$border-radius: 0;

// Colors
$ghost-dark: rgba(0, 0, 0, 0.15);

$ghost-light: rgba(255, 255, 255, 0.25);
$grey-light: #8A96A4;
$grey-dark: #778588;
$yellow: #be8817;
$orange: #f7931e;
$green: #8dc63f;
$green-dark: #2e7d32;
$red: #fe6e43;
$white: white;
$dark-white: #e1e1e1;
$black: #131313;
$secondary: #152D47;
$secondary-dark: #112438;
$primary: #0E3B58;
$primary-light: #017bbc;
$blue: #1da1f3;
$meterbg-list: (#b71c1c, #d32f2f, #f9a825, #8bc34a, #558b2f);
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;

// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    38: 38%,
    50: 50%,
    60: 60%,
    70: 70%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1370px
) !default;

$theme-colors: (
  "ghost-dark": $ghost-dark,
  "ghost-light": $ghost-light,
  "yellow": $yellow,
  "orange": $orange,
  "green": $green,
  "blue": $blue
);

$body-background: $black url("../img/sky_image.jpg") no-repeat fixed;
$body-background-sm: linear-gradient(#184b80, #193a5d);
$module-background: linear-gradient(#0b3c57, #19263d);
$body-text-color: #1a1a1a;
$color-nav: $dark-white;
$color-nav-active: #0071bc;
$color-nav-hover: #0071bc;
$color-link: $blue;
$color-link-hover: #90c7ff;
$color-tabs: $primary;
$color-tabs-links: #0078bb;
$color-slider-range: #007ABB;
$color-facebook: #3b5998;
$color-twitter: $blue;
$color-tooltip: #007DC0;
$color-badge: #4FC2F8;
$color-linkedin: #0077b5;
$color-wallet-code: #666666;
$color-toggle-password-active: #0071bc;
$color-toggle-password-hover: #0071bc;
$modal-alert-border-color: $primary;
$index-description-bg: linear-gradient(180deg, #102238, #102238, #102238, #102238, transparent, transparent) repeat-x;

// Forms
$input-bg: $grey-light;
$input-btn-padding-y: .25rem;
$input-btn-padding-x: 1rem;
$input-focus-border-color: $input-bg;
$input-btn-focus-color: $input-bg;

// Card
$card-border-width: 0.6rem;
$card-border-color: $ghost-dark;
$card-input-color: $grey-dark;
$card-header-bg: $primary;
$card-body-bg: $secondary;
$card-text-color: $dark-white;

// Pagination
$pagination-color: $primary;
$pagination-border-width: 0;

// Modal
$modal-content-border-radius: $border-radius;
$modal-content-border-width: 0;

$navbar-toogler: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
$navbar-sm-background: radial-gradient(#184b80, #1b4776);

// Tables
$b-table-sort-icon-bg-not-sorted: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'><path fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22zM51 101l25-23 24-22H1l25 22z'/></svg>") !default;
$b-table-sort-icon-bg-ascending: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'><path fill='white' d='M51 1l25 23 24 22H1l25-22z'/><path fill='white' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/></svg>") !default;
$b-table-sort-icon-bg-descending: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'><path fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/><path fill='white' d='M51 101l25-23 24-22H1l25 22z'/></svg>") !default;
