// Change bootstrap variables to match Mintme style

$body-text-color: #37474f;
$open-sans-font: 'Open Sans', sans-serif;
$oxygen-font: 'Oxygen', sans-serif;

// Colors
$primary: #55aded;
$gradiant-blue-dark: #5cacfd;
$gradiant-blue-light: #90c7ff;
