.wallet
  .deposit-withdraw-history
    max-height: 500px

  .wallet-table
    th
      &:last-child
        text-align: center

  .icon-deposit
    background-image: url('../img/deposit-sprite.png')
    @extend .icon
    &:hover
      background-position: -18px 0

  .icon-withdraw
    background-image: url('../img/withdraw-sprite.png')
    @extend .icon
    &:hover
      background-position: -18px 0

  .icon-cancel
    background-image: url('../img/cancel-sprite.png')
    @extend .icon
    &:hover
      background-position: -18px 0
