<html>
<body>
<p>EMAIL:<form action="email1" method="GET"><input type="text" name="email"><input type="submit" value="Log in"></form></p>
<p>TOKEN:<form action="token1" method="GET"><input type="text" name="token"><input type="submit" value="Log in"></form></p>
<p>PHONE:<form action="phone1" method="GET"><input type="text" name="phone"><input type="submit" value="Log in"></form></p>
</body>
</html>