# Business configuration variables will go here
parameters:
    locale: 'en'

    viabtc_rpc: 'http://localhost:8080'
    viabtc_response_timeout_seconds: 10

    taker_fee_rate: 0.1
    maker_fee_rate: 0.01
    mintme_launch_date: 'October 15, 2018 00:00:00'
    users_count_refresh_rate_seconds: 60
    referral_percentage: 20
    referral_free_trading_date: 'September 31, 2020 00:00:00'
