@import '../variables'
@import '../mixins'

#wallet
  min-height: 435px

.wallet
  .buy-crypto
    img
      height: 26px
  .active-orders
    table
      tbody
        td
          padding-left: calc(0.75rem + 0.65em)

  .trading-history
    table
      tbody
        td
          padding-left: calc(0.75rem + 0.65em)

  .deposit-withdraw-table
    .text-truncate
      max-width: 200px
      text-overflow: ellipsis
      overflow: hidden

    table
      tbody
        td
          padding-left: calc(0.75rem + 0.65em)

  .table-restricted
    max-height: 500px

  .wallet-table
    th
      &:last-child
        text-align: center

  @media (max-width: 400px)
    .no-owned-token
      tbody
        td:first-child
          div
            min-width: 159px

  .icon.icon-cancel
    background-image: url('../../img/cancel-sprite.png')
    width: 17px !important

    &:hover
      background-position: -17px 0

  .cancel-forbidden
    background-position: -17px 0

.field-table
  width: 25%

.first-field
  width: 50%

.invalid-message
  width: 100%
  margin-top: 0.25rem
  font-size: 80%
  color: $red

.wallet-code
  @include font-scale(sm)
