<div class="hidden-xs">
    <ol class="nav navbar-top-links breadcrumb">
        <li>
            <a href="{{ path('sonata_admin_dashboard') }}">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li class="active">
            <span>{{ label }}</span>
        </li>
    </ol>
</div>
