<!DOCTYPE html>
<html lang="en" class="h-100vh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}MINTME{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/main.css') }}">
            {% block pagestyles %}{% endblock %}
        {% endblock %}
    </head>
    <body class="h-100vh gradient-bg {% block bodyclass %}{% endblock %}">
        {% block body %}
            <div class="content-wrapper {% block contentclass %}{% endblock %}">
                <div class="content">
                    {% block header %}
                        <div class="header-white">
                            {% include 'topnav.html.twig' %}
                            {% block top_showcase %}{% endblock %}
                        </div>
                        <div class="header-bg"></div>
                    {% endblock %}
                    {% block main %}
                        <div class="pt-5 contents-wrapper">
                            {% block messagesContent %}
                                <div class="{% block messagesClass %} {% endblock %}">
                                    {% for label, messages in app.flashes %}
                                        {% for message in messages %}
                                            <div class="w-50 mx-auto mb-3 alert alert-{{ label }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endblock %}
                            {% block content %}{% endblock %}
                        </div>
                    {% endblock %}
                </div>
                {% block footer %}
                    {% include 'footer.html.twig' %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/main.js') }}"></script>
            {% block pagescripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
