<footer id="footer" class="container-fluid">
    <div class="row h-100 align-content-center text-white pt-3 pb-4 px-5">
        <div class="col-12 text-center col-lg-auto pt-1">
            {{ version }} | Copyright 2018 - mintMe. All rights reserved
        </div>
        <div class="col-12 col-lg mt-4 mt-lg-auto">
            <div class="row justify-content-center justify-content-lg-end">
                <a href="#" aria-label="linkedin" class="col-auto d-flex text-white mx-3 rounded-circle justify-content-center socialmedia linkedin">
                    <font-awesome-icon class="align-self-center text-center"  :icon="['fab', 'linkedin-in']"></font-awesome-icon>
                </a>
                <a href="#" aria-label="twitter" class="col-auto d-flex text-white mx-3 rounded-circle justify-content-center socialmedia twitter">
                    <font-awesome-icon class="align-self-center"  :icon="['fab', 'twitter']"></font-awesome-icon>
                </a>
                <a href="#" aria-label="facebook" class="col-auto d-flex text-white mx-3 rounded-circle justify-content-center socialmedia facebook">
                    <font-awesome-icon class="align-self-center text-center"  :icon="['fab', 'facebook-f']"></font-awesome-icon>
                </a>
            </div>
        </div>
    </div>
</footer>

