<div class="container">
    <div class="row pt-5 justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    {{ formHeader }}
                </div>
                <div class="card-body py-2">
                    {% block formBody %}
                        {{ form(form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>