{% block share %}
    <ul class="p-0">
        <li title="Share over twitter" class="list-inline-item mx-0">
            <a href="https://twitter.com/intent/tweet?text={{ url }}" target="_blank" class="text-primary">
                <font-awesome-layers class="fa-2x">
                    <font-awesome-icon :icon="['fab','square-x-twitter']"></font-awesome-icon> 
                </font-awesome-layers>
            </a>
        </li>
        <li title="Share over Reddit" class="list-inline-item mx-0">
            <a href="http://www.reddit.com/submit?url={{ url }}" target="_blank" class="text-primary">
                <font-awesome-layers class="fa-2x">
                    <font-awesome-icon :icon="['fab','reddit-square']"></font-awesome-icon> 
                </font-awesome-layers>
            </a>
        </li>
        <li title="Share over facebook" class="list-inline-item mx-0">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" target="_blank" class="text-primary">
                <font-awesome-layers class="fa-2x">
                    <font-awesome-icon :icon="['fab','facebook-square']"></font-awesome-icon>
                </font-awesome-layers>
            </a>
        </li>
    </ul>
{% endblock %}