<div id="page-load-spinner">
    <div class="vld-parent">
        <div tabindex="0" class="vld-overlay is-active is-full-page" aria-label="Loading">
            <div class="vld-background" >
            </div>
            <div class="vld-icon">

            </div>
        </div>
    </div>
</div>
