{% extends 'base.html.twig' %}
{% block title %}
{% spaceless %}
    Mintme | {{ post.title }}
{% endspaceless %}
{% endblock %}
{% block metaDescription %}{{ post.abstract }}{% endblock %}

{% block contentClass %}blog{% endblock %}

{% block content %}
    <div class="py-4">
        {{ include("@SonataNews/Post/view_content.html.twig") }}
    </div>
{% endblock %}
