{% extends 'base.html.twig' %}

{% block title %}500 - Internal Server Error{% endblock %}

{% block bodyclass %}errorpage{% endblock %}

{% block content %}
    <div class="container top-4">
        <div class="row text-center">
            <div class="col">
                <div class="error-code errors">500</div>
                <div class="error-text errors">Internal Server Error</div>
                <p class="error-msg">
                    Something is broken. Please let us know what you were doing when this error occurred.
                    We will fix it as soon as possible. Sorry for any inconvenience caused.
                    <a href="{{ path('homepage') }}" class="backlink">return to the homepage</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
