{% extends 'base.html.twig' %}

{% block title %}500 - Internal Server Error{% endblock %}

{% block bodyclass %}errorpage{% endblock %}

{% block messageClass %}d-none{% endblock %}

{% block content %}
    <div class="container top-4 h-100">
        <div class="row justify-content-center align-content-center text-center text-white h-100">
            <div class="col-10 py-5">
                <div class="error-code">500</div>
                <div class="error-text pb-5">Internal Server Error</div>
                <p class="error-msg">
                    Something is broken. Please let us know what you were doing when this error occurred.
                    We will fix it as soon as possible. Sorry for any inconvenience caused.
                    <a href="{{ path('homepage') }}" class="backlink">return to the homepage</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
