{% extends 'mail/layout.html.twig' %}

{% block content %}
    <table width="100%">
        <tr>
            <th>
                <h3 style="font-size: 28px; margin-bottom:0px; font-family: Helvetica, Arial, sans-serif;font-weight: normal;color: #fff;" >Hello</h3>
                <h1 style="font-size: 34px; margin-top: 0px; margin-bottom: 0px;color: #2199e8; "><strong>{{username}}</strong></h1>
            </th>
        </tr>
        <tr>
            <th>
                <p style="margin-right:20px;margin-bottom:0px;margin-left:20px;font-weight: normal; color: #fff;">Your deposit of {{ amount }} {{ symbol }} was completed. You can now see it available on your account.</p>
            </th>
        </tr>
        <tr>
            <th style="height:20px;font-size:0px;line-height:20px;color: #fff;">&#xA0;</th>
        </tr>
    </table>
{% endblock %}
