<style>
    table {
        padding: 0;
        width: 100%;
        position: relative;
        display: table;
        font-size: 18px;
        font-weight: normal;
        margin: 0 auto;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-align:center;
        color:white;
    }
    table th {
        margin: 0 auto;
        Margin: 0 auto;
        padding-left: 16px;
        padding-bottom: 16px;
        width: 100%;
    }
    table td {
        padding-left: 0;
        padding-right: 0;
    }
    a {
        color: #2199e8;
    }
    center table {
        display: table;
        width: 500px;
    }
    @media (max-width: 500px) {
        center table {
            display: table-cell;
            width: 100%;
        }
    }
</style>
<table>
    <tr>
        <td align="center" valign="top">
            <center>
                <table background="{{absolute_url(asset('build/images/body.png'))}}">
                    <tr>
                        <td>
                            <table>
                                <tr style="padding: 20px">
                                    <a href="https://mintme.com/" target=_blank><img src="{{absolute_url(asset('build/images/header.png'))}}" alt="MintMe"></a>
                                </tr>
                            </table>
                            {% block content %}{% endblock %}
                            <table background="{{absolute_url(asset('build/images/footer.png'))}}" style="margin: 0px; padding: 0px; width: 100%">
                                <tr style=" margin-bottom:0px">
                                    <td>
                                        <div style="text-align: center; margin-top: 20px; margin-bottom: 0px; color: #fff; background: #131313">
                                            2018 - mintMe. All rights reserved
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>

