{% extends 'mail/layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="box-table">
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border" bgcolor="#ffffff">
            <tr>
                <td align="center" width="600" class="td-body" bgcolor="#ffffff">
                    <img alt="Post" src="{{ absolute_url(asset('build/images/mail-post.png')) }}" width="120" class="img-build-v3" />
                    <p class="p-username">{{ tokenName }}</p>
                    <p class="p-second-line">{% trans with {'%title%': postTitle} %} mail.new_post.msg {% endtrans %}</p>
                </td>
            </tr>
        </table>
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="border-blank-space" bgcolor="#f3f3f3">
            <tr>
                <td align="center" class="prev-blank-space" bgcolor="#f3f3f3">&nbsp;</td>
            </tr>
        </table>
        {% set post_tab = absolute_url(path('token_show_post', {'name': tokenName, 'slug': slug })) %}
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border-v3" bgcolor="#2199e8">
            <tr>
                <td align="center" width="600" class="td-code-v2" bgcolor="#2199e8">
                    <p class="p-fiveteenth-line"><a href="{{ post_tab }}" class="a-link-text" style="mso-padding-alt:0;">{% trans %} mail.new_post.text_link {% endtrans %}</a></p>
                </td>
            </tr>
        </table>
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="border-blank-space" bgcolor="#f3f3f3">
            <tr>
                <td align="center" class="post-blank-space" bgcolor="#f3f3f3">&nbsp;</td>
            </tr>
        </table>
    </div>
{% endblock %}
